@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;
}

@keyframes bounceInDown {
  0%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-40px, 0, 0);
            transform: translate3d(-40px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInLeft {
  0%,  90%, 100% {
    webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
     opacity: 0;
    -webkit-transform: translate3d(-80px, 0, 0);
            transform: translate3d(-80px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
}


@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(400px, 0, 0);
            transform: translate3d(400px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}

body {
    position: relative;
    background-color: #e7e7e7;
}

a {
    display: block;
    cursor: pointer;
}

.slide-link {
    display: block;
}
.loader {
    width: 36px;
    height: 36px;
    border: solid 2px #fff;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    z-index: 2;
}

.readyMainImage {
    
}
.main-background {
    background-color: #1c1c1c;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-position: top right;
    // max-height: 1300px;

}
.main-background a {
    position: relative;
    display: block;
}
p, a, span, li {
    font-family: 'Lato',sans-serif;
    font-weight: 500;
    color:#1b1c1c;
}

.flex-display {
    display: -webkit-box;
    display: -webkit-flex; /* NEW */
    display: -moz-flex;
    display: -ms-flexbox; // IE10 uses -ms-flexbox
    display: -ms-flex; // IE11
    display: flex;
}

.flex-direction-row {
  -webkit-flex-direction: row;
     -moz-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex-direction-column {
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-align-center {
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
          align-items: center;
    }
.relative {
    position: relative;
}

img {
    max-width: 100%;
}

.not-visible {
    opacity: 0;
}
.ready .not-visible {
    opacity: 1;

}
.table {
    display: table;
    width: 95%; 
    margin: 0 auto;
    max-width: 1100px;
}

.table-row {
    display: table-row;
}
.group {
    display: table-row-group; 
}
.table-cell {
    display: table-cell;
}
.vmiddle {
    vertical-align: middle;
}
.vtop {
    vertical-align: top;
}
.table .table {
    background: transparent;
}
.h100 {
    height: 100%;
}
.site-logo {
    display: table-cell;
    vertical-align: top;
    padding-top: 15px;
    // width: 18%;

}
.site-logo-center {
	display: table-cell;
    vertical-align: top;
    padding-top: 15px;
    // width: 18%;margin:0 auto;
	text-align:center;	 width: 100%;
    position: absolute;
    left: 15px;
}
}
.site-logo-center img {
	margin:0 auto;
	text-align:center;
}
h1 {
    font-size: 30px;
    color:#a2a2a2;
}
.table>tbody>tr>td {
    border: none;
    padding:0px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.agcasino-logo {
    position: absolute; 
    margin-left: -10%;
}

.ready .site-logo img {
    animation:  bounceInLeft 1.5s;
    overflow: hidden;
}
.ready .site-logo-center img {
    animation:  bounceInLeft 1.5s;
    overflow: hidden;
	text-align: center;
margin: 0 auto; width:6.5%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
   /* width: 67%;*/ width: 60%;
    text-align: center;
    overflow: hidden;
    padding: 120px 50px 50px 50px;
}
.center {
     margin: 0 auto;
}
.fright {
     float: right;
}
.text-center {
    text-align: center;
}
.ready .bounceInUpAnimation {
    animation:  bounceInUp 1.5s; 
}
.ready .bounceInRightAnimation {
    animation:  bounceInRight 1.5s; 
}
.ready .bounceInLeftAnimation {
    animation:  bounceInLeft 1.5s; 
}
.ready .bounceInDownAnimation {
    animation:  bounceInDown 1.5s; 
}

.left-logo {
    display: table-cell;
    vertical-align: top;
    padding-top: 120px;
    /*width: 15%;*/
	    width: 20%;
}
.right-logo {
    display: table-cell;
    vertical-align: top;
    padding-top: 120px;
    /*width: 15%;*/
	    width: 20%;
}

.bottom-content img {
    max-width: 100% !important;
}

.bottom-content td  {
    padding-left: 20px;
}
.bottom-content td:first-child {
    padding-left: 0px;
}
.bottom-content {
    margin: 0 auto 10px ; 
    max-width: 1500px;
    text-align: center;
    max-height:89px;
    overflow:hidden;
    width: 89%;
}
.middle-table {
    width: 89%;
}
.bottom-nav {
    padding:10px 0;
    width: 99%;
}
.bottom-nav li {
    display: inline-block;
    margin: 0 10px;
}
.w100 {
    width: 100%;
}

.ready .bottom-content table {
    margin-top:0%;
}

.footer-logo {
    display: table;
    margin: 0px auto 0;
}


.footer-logo li {
    display: table-cell;
    padding: 0 10px;
}
.terms_conditions {
    background-color: #1c1c1c;
    text-align: center;
    margin: 0 auto;
    padding:6px;
    overflow: hidden;
}
.terms_conditions  img {
    zoom: 0.9;
}

.footer-payments-images {
    background-color: #ffffff;
    padding: 20px 0;
}
#copyright-container .breadcrumb, #copyright-container .breadcrumb li {
    float: none;
    text-align: center;
    padding: 0 5px 0 5px;
}
#copyright-container .breadcrumb li a {
    font-size: 12px;
    color:#1b1c1c;
    font-weight: 500;
    text-decoration: underline;
}

#copyright-container p {
    font-size: 11px;
    color:#1b1c1c;
    padding: 0px;
    text-align: center;
}
#copyright-container a {
    color:#1b1c1c;
}
.social-links li a {
    height: auto;
    padding-top: 5px;
    font-size: 23px;
    color:#000;
    line-height: 1px;
}
.social-links {
    margin-bottom: -3px;
}

.border-top {
    border-top: solid 1px #363636;
}
.border-bottom {
    border-bottom: solid 1px #363636;
}
.hidden {
    display: none;
}
.footer-padding {
    padding: 10px 0;
}
.float-right {
    float: right;
}

/* ################################### Casino Page ################################### */
.casino-max-width {
    max-width: 1300px;
}
.casino {
    display: table;
}

.casino .site-logo {
    position: absolute;
    width: 15%;
}
.casino .left-image {
    width: 30%;
}
.casino .left-image img {
    position: relative;
    left: 30%;
}
.casino .right-image-content {
    width: 70%;
}
.middle-top-image {
    width: 50%;
    margin-left:5%;
}
.casino  .middle-image {
    width: 71%;;
}
.casino  .middle-image img {
    position: relative;
    z-index: 0;
    bottom:-15%;
}

.casino .right-image {
    position: absolute;
    width: 43%;
    right: 0;
    bottom: -88px;
}
.casino .bottom-content {
    bottom: -20px;position: relative;
}
.casino-terms_conditions {
    height: 25px;
    display: block;
}
.casino  .bottom-content{
    max-height: 121px;
}
/* ################################### End Casino Page ################################### */

.bottom-desc {
    padding-top: 20px;
}

.bottom-desc p {
    color:#a2a2a2;
    font-size: 12px;
    padding-bottom: 14px;
    line-height: 20px;
}

/* ################################### Payments Method ################################### */

.payment-logos [class*="logo-"] {
    position: relative;
}
.payment-logos.footer-payments [class*="logo-"] span {
  -webkit-filter: grayscale(100%) saturate(8%);
}
.payment-logos.footer-payments [class*="logo-"]:hover span {
  -webkit-filter: grayscale(0%) saturate(100%);
}
.payment-logos li {
    display: inline-block;
    padding: 0 12px;
}
        
.payment-logos [class*="logo-"] .payment-logo-image, .payment-logos [class*="logo-"] i {
    height: 46px;
    background-image: url('../../s3.eu-central-1.amazonaws.com/21betcdn/Landing/freespins/payment-logos.png');
    display: block;
}
.payment-logos .logo-ag .payment-logo-image,
.payment-logos .logo-ag i {
    background-position: 0px 0;
    width: 100px;
}
.payment-logos .logo-evolution-gaming .payment-logo-image,
.payment-logos .logo-evolution-gaming i {
    background-position: -482px 0;
    width: 106px;
}
.payment-logos .logo-microgaming .payment-logo-image,
.payment-logos .logo-microgaming i {
    background-position: -244px 0;
    width: 118px;
}
.payment-logos .logo-netent .payment-logo-image,
.payment-logos .logo-netent i {
    background-position: -627px 0;
    width: 74px;
}
.payment-logos .logo-unionpay .payment-logo-image,
.payment-logos .logo-unionpay i {
    background-position: -144px 0;
    width: 65px;
}
.payment-logos .logo-astropay .payment-logo-image,
.payment-logos .logo-astropay i {
    background-position: -242px -56px;
    width: 82px;
}
.payment-logos .logo-gpaysafe .payment-logo-image,
.payment-logos .logo-gpaysafe i {
    background-position: -144px -56px;
    width: 50px;
}
.payment-logos .logo-gpaysafe-visa .payment-logo-image,
.payment-logos .logo-gpaysafe-visa i {
    background-position: 0px -56px;
    width: 70px;
}
.payment-logos .logo-ecopayz .payment-logo-image,
.payment-logos .logo-ecocard .payment-logo-image,
.payment-logos .logo-ecopayz i,
.payment-logos .logo-ecocard i {
    background-position: -482px -56px;
    width: 88px;
}


.payment-logos .logo-entercash .payment-logo-image,
.payment-logos .logo-entercash i {
    background-position: -660px -112px;
    width: 106px;
}

.payment-logos.footer-payments {
    text-align: center;
    margin-top: 1em;
}
.payment-logos.footer-payments.mt0 {
    margin-top: 0px;
}

.under18,
.gaming-curacao,
.gambleaware,
.gamecare {
    background-image: url("../../s3.eu-central-1.amazonaws.com/21betcdn/Landing/freespins/legal.png");
    display: inline-block;
    background-repeat: no-repeat;
    height: 46px;
    margin: 0 10px;
}
.under18 {
    width: 36px;
    background-position: -142px 0px;
    height: 46px;
}
.mga {
    background-image: url("../../s3.eu-central-1.amazonaws.com/21betcdn/Landing/esports/mga.png");
    display: inline-block;
    background-repeat: no-repeat;
    height: 46px;
    width: 83px;
     margin: 0 10px;
}


.gaming-curacao {
    width: 122px;
    background-position: 0px 0px;
    margin-left: 10px;
}
.legal {
    text-align: center;
    margin-top: 10px;
}

.bottom-content-position {
    position: absolute;
    top: 79%;
    margin: 0 auto;
    width: 100%;
}



#copyright-container .breadcrumb {
    margin-top: 10px;
}

@media  only screen and (max-width: 1393px) { 
    .agcasino-logo {
        margin-left: 0;
    }
    .agcasino-content img {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 768px) { 
    .agcasino-logo {
        position: relative;
        left: 10px;
    }
    .table.agcasino-content {
        width: 90%;
    }
    
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    #footer .social-links {
        margin: 0 auto 0px;
    }
}
@media (min-width: 769px) and (max-width: 1100px) {
    .bottom-content {
        width: 96%;
    }
    .middle-table {
        width: 96%;
    }
    .bottom-nav {
        width: 99%;
    }
}

@media (min-width: 451px) and (max-width: 776px) {
    
    .sign-up-now {
        zoom: 0.7;
        -ms-zoom: 0.7;
        -webkit-zoom: 0.7;
        -moz-transform: scale(0.7, 0.7);
        -moz-transform-origin: left center;
    }
    .table, .bottom-content, .bottom-nav {
        width: 99%;
    }
    .footer-logo {
        max-width: 98%;
    }
    #copyright-container .breadcrumb li a {
        font-size: 11px;
    }
	
	
}
@media (min-width: 768px) and (max-width: 1024px) {
.m-middle img { max-width: 50%!Important;}
	.m-middle{ padding:10px 0 0 0!important; width:100%!important}
	.m-btm-content {
        margin: 0px auto 20px auto!Important;
        max-height: none;
    }
	 .site-logo-center { padding-top:10px;left:0;}
	 .site-logo-center img {
        max-width: 8% !important;
width: 8% !important;
    }
}
 @media (max-width: 550px)  {

    .table {
        display: block;
        width: 100%;
    }
    .site-logo {
        display: block;
    }
	
    .site-logo img {
        max-width: 80px;
        padding-left: 10px;
    }
	
	.site-logo-center {
        display: block;
		left: 0;
top: -2%;
    }
	
    .site-logo-center img {
	
        padding-left: 0px;
		max-width: 100%;
padding-left: 0px;
width: 20% !important;
    }
    .left-logo {
        position: absolute;
        top: -15px;
        width: 80px;
        left: 6px;
    }
    .right-logo {
        position: absolute;
        top: -15px;
        width: 80px;
        right: 6px;
    }
	.m-mrf-logo { top:-10px!important;}
    .middle {
        position: relative;
        top:0; padding: 100px;
    }
	.m-middle img { max-width: 80%!Important;}
	.m-middle{top: 35px!important;}
    .sign-up-now {
        position: relative;
        top: -40px;
    }
    .bottom-content {
        width: 85%;
        margin: -50px auto 0;
        max-height: none;
    }
	.m-btm-content {
        width: 85%;
        margin: 50px auto 0!Important;
        max-height: none;
    }
    .middle-table {
        width: 85%;
    }
    .bottom-content.no-minus-margin {
        margin-top: 0px;
    }
    .bottom-content td  {
        padding:0px 0 5px;
        display: block;
    }
    #copyright-container .breadcrumb li a {
        font-size: 11px;
    }
    .footer-logo { 
        margin-top: -9px;
    }
    .casino .right-image {
        bottom: -31px;
    }

    .casino .bottom-content {
        bottom: -40px;
    }
    .casino  .bottom-content{
        max-height: 100%;
    }
    .casino .left-image img {
        left: 2%;
    }

    .casino .left-image img {
        position: relative;
        top:26%;
    }

    .payment-logos.footer-payments {
        zoom: 0.7;
        -ms-zoom: 0.7;
        -webkit-zoom: 0.7;
        -moz-transform: scale(0.7, 0.7);
        -moz-transform-origin: left center;
    }
    .bottom-content-position {
        position: relative;
        top:0;
    }
    .bottom-desc {
        padding-left: 10px;
        padding-right: 10px;
    }
 }

.fa-facebook-square:before {
    content: "\f082";
    color: #3b5998;
}
.fa-twitter-square:before {
    content: "\f081";
    color: #1da1f2;
}

.fa-facebook-square:hover:before,
.fa-twitter-square:hover:before,
.fa-google-plus-square:hover:before,
.fa-tumblr:hover:before {
    color: #aeaeae;
    opacity: 0.8;
}
.fa-twitter:before {
    content: "\f099";
    color: #1da1f2;
}
.fa-tumblr:before {
    content: "\f174";
    color: #36465d;
}
.fa-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: .2em;
    font-size: 24px;
    height: 1em;
    position: relative;
    width: 1em;
    top: 2px;
}
.fa-instagram:before,
.fa-instagram:after {
    color: #fff;
    content: '' !important;
    display: block;
    position: absolute;
    border: .075em solid;
}
.fa-instagram:before {
    border-radius: inherit;
    height: .75em;
    transform: translate(0.125em, 0.125em);
    width: .75em;
}
.fa-instagram:after {
    border-radius: 1em;
    box-shadow: 0.2em -0.2em 0 -0.16em;
    height: .4em;
    transform: translate(0.3em, 0.3em);
    width: .4em;
}
.fa-instagram:hover {
    background: #c3c3c3;
}

.brand-icons-logos li {
    display: inline-block;
    padding: 0 8px;
    font-size: 28px;
    font-weight: bold;
}
.brand-icons-logos li.instagram {
    font-size: 24px;
}