@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }
body {
	background:#fff!important;
	font-size:12px;
	color: #fff;
	-webkit-font-smoothing: antialiased; 
	-webkit-text-size-adjust: 100%;
	font-family: 'KozGoPr6N Heavy', sans-serif;
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */
#wrapper { margin:0 auto; padding:0px 0px 0 0; position:relative;height:auto !important; height:100%; min-height:100%;background-color: #fff;}

.top-section{ margin:0;padding: 0;position: relative; }
.top-div{ margin:0;padding: 0;position: relative; background-color: #fff;}
.top-div .img-logo{ margin:0 auto;padding: 20px 0; }
.top-div .img-logo img{ margin:0 auto;padding: 0; }
.navigation-div-top{background-color: #d70006;font-size: 28px;color: #fff;}
.nav-div .navbar {
    position: relative;
    min-height: auto;
    margin-bottom: 0px;
}
.header-div .header-top-div .nav-div .navbar-nav {
    margin: 10px 0;
}
.nav-div .navbar-nav>li {
    padding: 0 20px;
}
.nav-div .navbar-nav>li>a {
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 0;
	padding: 10px;
	text-align: center;
    transition: all .3s ease-in-out;
}
.nav-div .navbar-nav>li>a:hover {
	color: #d70006; background: #fff;
}
.navbar-nav {
    float: left;
    margin: 0;
    width: 100%;
}
.nav-div .navbar-nav>li {
    padding: 0 20px;
    width: 20%;
}

/* banner */

.banner-section{margin: 0;padding: 0;position: relative;}
.banner-div{margin: 0;padding: 0;background: url(../images/banner.png) no-repeat center center;height: 600px;background-size: cover;}
    
.banner-div img.img-responsive.middle-img {
    margin: 0 auto;
    text-align: center;
}

.banner-div .banner-middle {padding: 90px 0 0 0;margin: 0;}

/* end of banner*/

.countdown-div{background-color: #000;padding: 100px 0;}
.countdown-div h1{margin:0;padding: 0;font-size: 36px;text-align: center;font-weight: 700;color: #fff;}

.center-count{margin:0 auto;padding:0;text-align:center;width:50%;}
.p-count{margin:0;padding:0 0 20px 0;color:#fff;font-size:16px;text-align:left;}
.h2-count{margin:0;padding:5px 20px;color:#fff;font-size:36px;text-align:left;}
.color-black{color:#000!important;}
.

/* end of countdown */

.middle-area-section{margin: 0;padding: 0;position: relative;}
.middle-area{margin: 0;padding: 0;background-color: #fff;}


.row-div-box{margin: 0;padding: 55px 0;}
.row-div-box .h1-1{margin: 0;padding: 0px 0 50px 0;font-size: 56px;text-align: center;font-weight: 900;color: #000;}
.row-div-box .h1-2{margin: 0;padding: 0px 0 50px 0;font-size: 56px;text-align: center;font-weight: 400;color: #000;}

.row-div-box h1>strong{font-size: 72px;}
.row-div-box p{margin: 0;padding: 0px 10%;font-size: 20px;text-align: center;font-weight: 400;color: #fff;line-height: 1.4;}

.color-black>small{font-size:18px;font-weight:400;}

.box-col-4{margin: 0;padding: 25px 0;border:1px solid #000;margin: 0 0%;background-color:#000;color:#fff;transition: all 350ms ease-in-out 0s;}
.box-col-4 p{margin:0;padding: 0 0px 0 20px;font-size: 28px;color:#fff;}
.box-col-4 p>small{ color:#fff;padding:0 0 0 0; font-size: 18px;}
.box-col-4 p>span{ color:#fff; }
.box-col-4 p>strong{ color:#fff;padding:0 0 0 15px; }
.box-col-4 p>strong span{ color:#fff;}


/* end of box-1 */

.row-div-box-2{margin: 0 0 20px 0;padding: 20px 0;background-color: #9c8249;box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);}
.row-div-box-2 h1{display:inline-block;margin: 0;padding: 0px 0 0px 0;font-size: 44px;text-align: center;font-weight: 700;color: #fff;}
.row-div-box-2 p{display:inline-block;margin: 0;padding: 0px 0;font-size: 20px;text-align: center;font-weight: 400;color: #000;line-height: 1.4;}
.row-div-box-2 img{display:inline-block;padding: 5px 20px;}
.middle-center-div{margin:0 auto;padding: 0;text-align: center;}

.middle-content-div{margin:0 auto;padding: 20px 0;}
.middle-content-div{margin:0 auto;padding: 25px 0;line-height: 1.4;font-size: 20px;}

.img-responsive.img-80{margin: 10px auto;padding: 0;width: 80%; transform: scale(1);transition: all 350ms ease-in-out;}
.img-responsive.img-80:hover{transform: scale(1.1);}

/* end of box-2 */

.mb-20{margin-bottom:20px!important; }
.mt-20{margin-top:20px!important; }

.mb-50{margin-bottom:50px!important; }
.mt-50{margin-top:50px!important; }
.bold-700{font-weight: 700;}

/* footer */

.footer-section{margin:0;padding: 0;}
.footer-div{margin:0;padding: 0px 0 0px 0;}
.black-div{background-color: #000;padding: 12px 0;}
.black-div img{margin:0 auto;text-align: center;}

/* end of footer */


footer{background-color: #e7e7e7;}
.breadcrumb{background-color: #e7e7e7;}
div#copyright-container {
    padding: 30px 0 10px 0;
}
.footer-logo li {
    display: table-cell;
    padding: 0 20px!important;
}
.img-responsive.img-icon-2{width: 80%;margin: 0 auto;padding: 0;}
#copyright-container a img {
    width: 80%;
    padding: 10px 0;
}
.footer-logo {
    display: table;
    margin: 0px auto 0;
    padding: 0 10%;
}
.desktop-hidden{ display: none;}
.mobile-hidden{ display: block;}

@media only screen and (max-width: 767px){
	html, body { overflow-x:hidden;}
	.container { width:100% !important;}
	
	.canvas { margin:0!important; padding:0!important;}

	.desktop-hidden{ display: block;}
.mobile-hidden{ display: none;}

	.top-div .img-logo img { margin: 0; width: 30%; position: relative; z-index: 11; }

	.header-div { position: relative;background-color:rgba(4,30,66,10); z-index:100; padding-bottom:15px;}
	.header-div .logo-div img { width:80%;}

	.nav-div { position: absolute; top:30px; right:0; margin: 0; padding: 0; width: 100%;}

	header .navbar-collapse { background: #fff;}
	.navbar-toggle .icon-bar { background:#d70006;}
	.navbar-toggle { margin:0!important;}
	.nav-div .navbar {
		margin: 0;
		padding: 0;
		width: 100%;
		z-index: 455465454;
		
	}
	.nav-div .navbar-nav > li > a { padding:10px; color:#243182;}
	.nav-div .navbar-nav > li > a .caret { display:none;}
	.navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow { color:#222; font-weight:normal; font-size:13px;}
	.has-submenu:after {	color: #222!important;content: "\f067";font-family: 'FontAwesome';font-size: 13px!important;position: absolute;font-weight:normal;right: 20px;}
	.nav-div .navbar-nav > li.active a {
		color: #000;
		border-bottom:0px solid #ca2027;
	}
	.navbar-collapse{
		overflow-y: auto;
		margin: 30px 0 0 0; background-color: #d70006; padding: 0;
	}
	.nav-div .navbar-nav > li > a {
		padding: 10px;
		color: #000;
	}

	.nav-div .navbar-nav>li {
		padding: 0px;
		width: 100%;
	}

	.nav-div .navbar-nav > li > a {
		padding: 10px 0px 20px 0px;
		color: #fff;
		line-height: 40px;
	}
	.banner-div {
		margin: 0;
		padding: 0;
		background-image: url(../images/banner.png);
		height: 550px;
		background-size: cover;
	}
	.banner-div img.img-responsive.middle-img {
		margin: 75px auto;
		text-align: center;
	}
	.row-div-box h1 {
		font-size: 36px!important;
		line-height: 1.4;
	}	
	.box-col-4 {
		margin: 10px 0%;
	}
	.countdown-div {
		padding: 70px 0;
	}
	.row-div-box-2 h1 {
		font-size: 30px;
		color: #fff;
	}
	.middle-content-div p{
		line-height: 1.4;
    	padding: 10px 0;
	}	
	.footer-logo {
		display: table;
		margin: 0px auto 0;
		padding: 0 0%;
	}
	.footer-logo li {
		display: block;
		width: 50%;
	}
	#copyright-container a img {
		width: 100%;
		padding: 0px 0;
	}
	.footer-logo li {
		display: inline-block!important;
		padding: 0 10px!important;
		float: left!important;
	}
	.footer-logo li {
		display: block;
		width: 12%;
	}
	.center-count {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		width: 100%;
	}
	.row-div-box h1>strong {
		font-size: 36px;
	}
	.row-div-box h1 {
		font-size: 28px!important;
	}
	.row-div-box p {
		padding: 0px 0%;
		font-size: 18px;
	}
	
}
	
@media only screen and (min-width: 320px) and (max-width: 480px) {

	

}
@media only screen and (min-width: 480px) and (max-width: 640px) {

}
/*
@media only screen and (min-width: 640px){
	.header-section .logodiv img { max-width:28%; }
}*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.container { width:100% !important;}
	
	
	
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {

	html, body { overflow-x:hidden;}
	.container { width:100% !important;}
	
	.canvas { margin:0!important; padding:0!important;}

	.header-div { position: relative;background-color:rgba(4,30,66,10); z-index:100; padding-bottom:15px;}
	.header-div .logo-div img { width:80%;}

	/* .nav-div { position: absolute; top:0px; right:0; margin: 0; padding: 0;}*/
	.nav-div {
		position: absolute;
		left: 0;
		width: 100%;
		padding: 0;
	}
	header .navbar-collapse { background: #fff;}
	.navbar-toggle .icon-bar { background:#fff;}
	.navbar-toggle { margin:10px 0 0 0!important; top:-5px;}
	.nav-div .navbar {
		margin: 0;
		padding: 0;
		width: 100%;
		z-index: 455465454;
		border: 0px solid transparent;
		background-color: #d70006;
	}
	.nav-div .navbar-nav > li > a { padding:10px; color:#243182;}
	.nav-div .navbar-nav > li > a .caret { display:none;}
	.navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow { color:#222; font-weight:normal; font-size:13px;}
	.has-submenu:after {	color: #222!important;content: "\f067";font-family: 'FontAwesome';font-size: 13px!important;position: absolute;font-weight:normal;right: 20px;}
	.nav-div .navbar-nav > li.active a {
		color: #000;
		border-bottom:0px solid #ca2027;
	}
	.navbar-collapse{
		overflow-y: auto;
		margin: 0;
	}
	.nav-div .navbar-nav > li > a {
		padding: 10px;
		color: #000;
	}

	.nav-div .navbar-nav>li {
		padding: 0 0px;
		width: 33%;
	}

	.banner-div .banner-middle {
		padding: 145px 0 0 0;
		margin: 0;
	}
	.nav-div .navbar-nav > li > a {
		padding: 10px 20px 20px 20px;
		color: #fff;
		line-height: 40px;
	}
	.banner-div img.img-responsive.middle-img {
		margin: 30px auto;
		text-align: center;
	}
	.row-div-box h1 {
		font-size: 36px;
		line-height: 1.4;
	}	
	.box-col-4 {
		margin: 10px 0%;
	}
	.countdown-div {
		padding: 70px 0;
	}
	.row-div-box-2 h1 {
		font-size: 30px;
		color: #fff;
	}
	.middle-content-div p{
		line-height: 1.4;
    	padding: 10px 0;
	}	
	.footer-logo {
		display: table;
		margin: 0px auto 0;
		padding: 0 0%;
	}
	.footer-logo li {
		display: block;
		width: 50%;
	}
	#copyright-container a img {
		width: 100%;
		padding: 0px 0;
	}
	.footer-logo li {
		display: inline-block!important;
		padding: 0 10px!important;
		float: left!important;
	}
	.footer-logo li {
		display: block;
		width: 12%;
	}
	.navbar-header{   
		position: absolute;
		right: 10px;
		background: #ee0206;
		top: -115px;
	}
	.center-count {
		width: 90%;
	}
	.row-div-box .h1-1 {
		font-size: 36px;
	}
	.row-div-box h1>strong {
		font-size: 48px;
	}
	.row-div-box .h1-2 {
		font-size: 36px;
	}
	.box-col-4 p {
		margin: 0;
		padding: 0 0px 0 0px;
		font-size: 18px;
	}
	.banner-div {
		margin: 90px 0 0 0;
		padding: 0;
		background: url(../images/banner.png) no-repeat center center;
		height: 600px;
	}
	.banner-div img.img-responsive.middle-img {
		margin: -20px auto;
		text-align: center;
	}
	
}

@media only screen and (width: 980px){

}
@media only screen and (width: 1024px){
	
}

.accordion{
	transition: 0.4s;
}