/* 
    Template Name: Royal Plate - Restaurant & Catering HTML Template
    Author: Pixel Industry
    Website: www.pixel-industry.com
*/

/* 
    TABLE OF CONTENTS
    ========================================================================= */
/*      1. CSS RESET
        2. DOCUMENT STYLES
        3. TYPOGRAPHY 
        4. HEADER 
            4.1. MAIN NAVIGATION
        5. PAGE TITLES 
        6. CUSTOM SECTION BACKGROUNDS
        7. ELEMENTS
            7.1. ACCORDION
            7.2. BLOCKQUOTES
                7.2.1. BLOCKQUOTE STYLE 1
                7.2.2. BLOCKQUOTE STYLE 2
                7.2.3. BLOCKQUOTE STYLE 3
            7.3. BUTTONS
            7.4. CUSTOM HEADING
            7.5. CUSTOM REVIEW BLOCKS
            7.6. DIVIDERS
            7.7. EVENTS CAROUSEL
            7.8. GALLERIES
                7.8.1. SIMPLE GALLERY
                7.8.2. ISOTOPE GALLERY
                7.8.3. SIMPLE GALLERY CAROUSEL
            7.9. INSTAGRAM STREAM
            7.10. MENUS
                7.10.1. MENU STYLE 1
                7.10.2. MENU STYLE 2
            7.11. MENU PACKAGES
                7.11.1. MENU PACKAGE STYLE 1
                7.11.2. MENU PACKAGE STYLE 2
                7.11.3. MENU PACKAGE STYLE 3
            7.12. NIVO SLIDER
            7.13. OWL CAROUSEL - GENERAL
            7.14. PROMO BOXES
            7.15. RECENT POST BLOCKS
            7.16. TABS HORIZONTAL
            7.17. TEAM MEMBERS
            7.18. TESTIMONIALS
                7.18.1. FANCY TESTIMONIAL CAROUSEL
                7.18.2. TESTIMONIAL STYLE 1 CAROUSEL
                7.18.3. TESTIMONIAL STYLE 2 CAROUSEL
                7.18.3. TESTIMONIAL STYLE 3 CAROUSEL
            7.19. SLIDER - MASTER SLIDER
        8. BLOG
            8.1. BLOG LIST
            8.2. BLOG DETAILS
        9. CONTACT
        10. WIDGETS
            10.1. OPEN TABLE WIDGET
            10.2. SEARCH WIDGET
            10.3. CATEGORIES WIDGET
            10.4. RECENT POSTS WIDGET 
            10.5. SHARRE WIDGET
        11. FOOTER
*/
@font-face {
    font-family: "Montserrat-UltraLight";
    src: url(../fonts/Montserrat-UltraLight.html);
}

/* ==========================================================================
    1. CSS RESET
    ========================================================================= */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*:focus {
    outline: 0;
    text-decoration: none;
}
a:focus,
a:active {
    text-decoration: none;
    outline: 0;
}

/* ==========================================================================
    2. DOCUMENT STYLES
    ========================================================================= */
body {
    font-family: 'Montserrat-UltraLight', Arial, sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: #777777;
    background-color: #fff;
}
.row {
    margin-bottom: 100px;
}
.row-equal-height {
    display: table;
}
.row-equal-height *[class^="col-"] {
    display: table-cell;
    float: none;
}
.centered {
    text-align: center;
}
.overflow-hidden {
    overflow: hidden;
}
.emphasized-text {
    font-size: 24px;
    font-weight: 700;
    color: #161d27;
    margin-bottom: 25px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
img.float-left {
    float: left;
    margin: 12px 12px 12px 0;
}
img.float-right {
    float: right;
    margin: 12px 0px 12px 12px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.img-center {
    display: table;
    margin: 0 auto;
}
.page-content .logo img {
    margin: 0 auto;
}
.container-fluid.padding-0 .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.page-content select {
    border: 1px solid #475366;
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
.reset-padding-top {
    padding-top: 0 !important;
}
.locations-padding-top {
    padding-top: 250px !important;
}
.page-content .locations-select {
    color: #E2E2E2;
    cursor: pointer;
    margin-top: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #686D75;
    background: rgba(0, 0, 0, 0.2) url(../img/input-arrow.html) no-repeat right 10px center;
}
.bottom-element-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
}
.bottom-element-wrapper .social-links {
    margin: 0 auto;
}
.bottom-element-wrapper .social-links li a {
    background-color: #1d2026;
}
.bottom-element-wrapper .social-links li a:hover {
    background-color: #2B2F35;
}
.bottom-element-wrapper .social-links li a i {
    color: #fff;
}

/* ==========================================================================
    3. TYPOGRAPHY 
    ========================================================================= */

p,
a {
    color: #777777; 
}
p,
a,
span {
    font-family: 'Montserrat-UltraLight', Arial, sans-serif;
    line-height: 25px;
}
p {
    padding-bottom: 15px;
}
a {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4{
    font-family: 'Suranna', serif;
    color: #161d27;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h5,
h6 {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #161d27;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}
h1 {
    font-size: 60px;
    line-height: 60px;
}
h2 {
    font-size: 44px;
    line-height: 44px;
}
h3 {
    font-size: 36px;
    line-height: 36px;
}
h4 {
    font-size: 27px;
    line-height: 28px;
}
h5 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 3px;
}
h6 {
    font-size: 15px;
    line-height: 15px;
}
h5 .sans-serif {
    font-family: 'Montserrat', Arial, sans-serif !important;
    font-size: 21px;
}
.dark h5 .sans-serif {
    color: #fff;
}
strong {
    font-weight: 600;
}
strong a:hover {
    text-decoration: underline;
}
ul,
ol {
    list-style-position: inside;
    list-style-type: none;
}
ul li,
ol li {
    padding-bottom: 0;
}
.listy-style-none {
    list-style: none;
}
ul.list-border li,
ol.list-border li {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 8px;
    padding-top: 3px;
}
ul.list-border li:last-child,
ol.list-border li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
ul.list-border li:first-child,
ol.list-border li:first-child {
    padding-top: 0;
}
.page-content ul {
    margin-bottom: 25px;
}
.page-content ul li{
    font-size:14px;
}
.circle-list-style-type li {
    padding-left: 14px;
    margin: 0 0 5px;
    font-size: 14px;
    position: relative;
}
.circle-list-style-type li:before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 6px;
    content: "\f111";
    display: block;
    top: 1px;
    left: 0px;
}
blockquote + p {
    margin-top: 15px;
}
.custom-col-padding {
    padding: 275px 0 195px 0!important;
}
.padding-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
a.more-details{
    font-family: 'Suranna', serif;
    text-transform: uppercase;
    font-size: 21px; 
    border-bottom: 1px solid;
    color: #161d27;
    display: inline-block;
    padding-bottom: 3px;
    margin-top: 10px;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
a.more-details .fa{
    position: relative;
    top: -2px;
    margin-left: 7px;
    font-size: 14px;
}

.mb-0 {
    margin-bottom: 0 !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-60 {
    margin-bottom: 60px !important;
}
.mb-80 {
    margin-bottom: 80px !important;
}
.mb-100 {
    margin-bottom: 100px !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-40 {
    padding-top: 40px !important;
}
.pt-60 {
    padding-top: 60px !important;
}
.pt-80 {
    padding-top: 80px !important;
}
.pt-100 {
    padding-top: 100px !important;
}
.pt-120 {
    padding-top: 100px !important;
}
.pt-150 {
    padding-top: 150px !important;
}
.pt-160 {
    padding-top: 160px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.custom-heading.style-1 span,
.custom-heading.style-2 span,
.menu-item-price p{
    font-family: 'Montez', cursive;
    text-transform: none;
}


/* ==========================================================================
    4. HEADER
    ========================================================================= */
#header-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-inner .row,
.main-nav .row {
    margin-bottom: 0;
}
.logo {
    margin: 30px 0;
}
#header .nav-left .navbar-header {
    float: left;
}
#header .nav-left .pi-nav {
    float: left;
    margin-top: 50px;
}
#header .navbar-default .navbar-collapse,
#header .navbar-default .navbar-form {
    border: 0px solid transparent;
}
#header .navbar-default .navbar-nav > .open > a,
#header .navbar-default .navbar-nav > .open > a:hover,
#header .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}
#header .navbar-collapse {
    padding: 0;
    float: right;
}
#header .navbar-default{
    background: none;
    border: 0px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#header .navbar-nav.pi-nav > li > a {
    line-height: 25px;
}
#header .navbar-default .navbar-nav > li > a {
    border: none;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 4px;
}
#header .navbar-default .navbar-nav > .current-menu-item > a:before,
#header .navbar-default .navbar-nav > li>a:hover:before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 6px;
    content: "\f111";
    display: block;
    top: 16px;
    left: 0px;
}
#header .navbar-default .navbar-nav > li>a:hover:before {
    -webkit-animation: navItemMove 0.1s forwards;
    animation: navItemMove 0.1s forwards;
}
@keyframes navItemMove {
    from { opacity: 0; transform: translateX(20px); }
    to { opacity: 1; transform: translateX(0px); }
}
@-webkit-keyframes navItemMove {
    from { opacity: 0; -moz-transform: translateX(20px); }
    to { opacity: 1; -moz-transform: translateX(0px); }
}
#header .dropdown-menu > li > a {
    font-size: 14px;
    font-weight: 400;
    padding: 15px 40px 15px 25px;
    color: #A0A0A0;
    border-bottom: 1px solid #3C3C3C;
}
#header .dropdown-menu > li > a:hover,
#header .dropdown-menu > li > a:focus {
    background: #363636;
    background-color: #363636 !important;
    background-image: none;
    filter: none;
}
#header .dropdown-menu > li:last-child > a {
    border-bottom: none;
}
#header .dropdown.dropdown-submenu > a:after {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 12px;
    content: "\f0da";
    display: block;
    top: 50%;
    right: 25px;
    color: #A0A0A0;
    margin-top: -8px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
#header .dropdown-menu {
    background: #252525;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    min-width: 270px;
    padding: 0;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
}
#header .dropdown-menu > li > a .fa {
    margin-right: 15px;
}

/* ==========================================================================
    4.1. MAIN NAVIGATION
    ========================================================================= */
.navbar-nav > li {
    padding-bottom: 0;
}

.dropdown-submenu {
    position: relative;
}
#header .dropdown-submenu > .dropdown-menu{
    top: -2px;
    left: 100%;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
}
#header .dropdown-submenu > .dropdown-menu {
    background-color: #363636 !important;
}

#header .dropdown-submenu > .dropdown-menu > li > a:hover {
    background-color: #252525 !important;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown.dropdown-submenu > a {
    position: relative;
}


/* ==========================================================================
    5. PAGE TITLE
    ========================================================================= */
.page-title.custom-img-background {
    padding-top: 275px;
}
.page-title {
    padding-top: 275px;
    padding-bottom: 275px;
}
.page-title .row {
    margin-bottom: 0;
}
.thin-page-title {
    padding: 30px 0;
}
.page-title-1 {
    background-image: url('../img/page-titles/page-title-1.html');  
}
.page-title-2 {
    background-image: url('../img/page-titles/page-title-2.html');  
}
.page-title-3 {
    background-image: url('../img/page-titles/page-title-3.html');  
}
.page-title-4 {
    background-image: url('../img/page-titles/page-title-4.html');  
}
.page-title-5 {
    background-image: url('../img/page-titles/page-title-5.html');  
}
.page-title-6 {
    background-image: url('../img/page-titles/page-title-6.html');  
}
.page-title-7 {
    background-image: url('../img/page-titles/page-title-7.html');  
}
.page-title-8 {
    background-image: url('../img/page-titles/page-title-8.html');  
}

/* ==========================================================================
    6. CUSTOM SECTION BACKGROUNDS
    ========================================================================= */

.custom-img-background {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.custom-background.bkg-grey {
    background-color: #fdfdfc !important;
}
.full-screen.custom-img-background {
    padding-top: 0;
}
.full-screen-content-wrapper {
    display: table;
    width: 100%;
    padding: 0 30px;
    background-repeat: no-repeat;
}
.full-screen-cell {
    display: table-cell;
    vertical-align: middle;
}
.bkg-img-right {
    background-position: right 60px top;  
    background-repeat: no-repeat;
}
.bkg-img-left {
    background-position: left 60px top; 
    background-repeat: no-repeat;
}
.bkg-img-left-vertical-center {
    background-repeat: no-repeat;
    background-position: 15px center; 
}
.bkg-img-contain {
    background-repeat: no-repeat;
    background-size: contain;  
}
.bkg-img1 {
    background-image: url('../img/pics/bkg-img1.html');  
}
.bkg-img2 {
    background-image: url('../img/pics/bkg-img2.html');  
}
.bkg-img3 {
    background-image: url('../img/pics/bkg-img3.html');  
}
.bkg-img4 {
    background-image: url('../img/pics/bkg-img4.html');  
}
.bkg-img5 {
    background-image: url('../img/pics/bkg-img5.html');  
}
.bkg-img6 {
    background-image: url('../img/pics/bkg-img6.html');  
}
.bkg-img7 {
    background-image: url('../img/pics/bkg-img7.html');  
}
.bkg-img8 {
    background-image: url('../img/pics/bkg-img8.html');  
}
.bkg-img9 {
    background-image: url('../img/pics/bkg-img9.html');  
}
.bkg-img10 {
    background-image: url('../img/pics/bkg-img10.html');  
}
.bkg-img11 {
    background-image: url('../img/pics/bkg-img11.html');  
}
.bkg-img12 {
    background-image: url('../img/pics/bkg-img12.html');  
}
.bkg-img13 {
    background-image: url('../img/pics/bkg-img13.html');  
}
.bkg-img14 {
    background-image: url('../img/pics/bkg-img14.html');  
}
.bkg-img15 {
    background-image: url('../img/pics/bkg-img15.html');  
}
.bkg-img16 {
    background-image: url('../img/pics/bkg-img16.html');  
}
.bkg-img17 {
    background-image: url('../img/pics/bkg-img17.html');  
}
.bkg-img18 {
    background-image: url('../img/pics/bkg-img18.html');  
}
.bkg-img19 {
    background-image: url('../img/pics/bkg-img19.html');  
}
.bkg-img20 {
    background-image: url('../img/pics/bkg-img20.html');  
}
.bkg-img21 {
    background-image: url('../img/pics/bkg-img21.html');  
}
.locations-column-background-image {
    background-image: url('../img/pics/locations-column-background-image.html');  
}
.page-content.dark h2,
.custom-background.dark h2,
.page-content.dark h3,
.custom-background.dark h3{
    color: #fff;
}
.page-content.dark h4,
.page-content.dark h5,
.page-content.dark h6,
.custom-background.dark h4,
.custom-background.dark h5,
.custom-background.dark h6,
.page-content.dark p,
.page-content.dark label,
.custom-background.dark p,
.custom-background.dark label,
.custom-background.dark li,
.custom-background.dark {
    color: #fff;
}

.frame-box {
    background-color: #fff;
    border: 17px solid #131822;
    padding: 125px 80px;
    box-shadow: 0 0 18px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 18px 7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 18px 7px rgba(0,0,0,0.3);
}
.custom-img-background.frame-box {
    background-size: 100%;
    background-position: center;
}
.frame-box .custom-heading {
    padding-left: 0 !important;
}
.frame-box.custom-img-background .custom-heading {
    margin-bottom: 50px;
}


/* ==========================================================================
    7. ELEMENTS
    ========================================================================= */

/* ==========================================================================
    7.1. ACCORDION
    ========================================================================= */
.accordion .title {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
}
.accordion.style-1 .title {
    border: 1px solid #e3e3e3;
}
.accordion.style-2 .title {
    border-bottom: 1px solid #e3e3e3;
}
.accordion .title a {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #161d27;
    display: block;
}
.accordion.style-1 .title {
    padding: 10px 10px 10px 45px;
}
.accordion.style-2 .title {
    padding: 0 10px 10px 25px;
}
.accordion .title a:before {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background-image: none;
    content: '\f078';
    font-family: 'FontAwesome';
    font-size: 10px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.accordion .title.active a:before,
.accordion .title.active a:hover:before {
    content: '\f077';
}
.accordion .title:before {
    padding-top: 10px;
    text-align: center;
}
.accordion .title.active a:before,
.accordion .title a:hover:before {
    color: #fff;
}
.accordion.style-1 .title a:before {
    top: 10px;
    left: 20px;
}
.accordion.style-2 .title a:before {
    top: 0;
    left: 0;
}
.accordion .content {
    margin-top: 10px;
    margin-bottom: 5px;
}
.accordion.style-1 .content {
    padding: 0 10px 0 40px;
    margin-left: 10px;
}
.accordion.style-2 .content {
    padding: 0;
}

/* ==========================================================================
    7.2. BLOCKQUOTES
    ========================================================================= */


/* ==========================================================================
    7.2.1. BLOCKQUOTE STYLE 1
    ========================================================================= */
.blockquote.style-1 {
    margin-bottom: 20px;
    padding: 0;
}
.col-md-6 .blockquote.style-1 {
    width: 70%;
    margin: 0 auto 20px auto;
}
.blockquote.style-1 p {
    font-family: 'Suranna', serif;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 10px;
}
.blockquote.style-1 .author {
    font-size: 14px;
    color: #161d27;
    text-transform: uppercase;
    font-family: 'Montserrat', Arial, sans-serif;
}

/* ==========================================================================
    7.2.2. BLOCKQUOTE STYLE 2
    ========================================================================= */
.blockquote.style-2 .author {
    font-size: 30px;
    color: #161d27;
    font-family: 'Suranna', serif;
}
.blockquote.style-2 p {
    margin-top: 10px;
    padding-bottom: 0;
}
.blockquote.style-2 {
    padding: 20px 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

/* ==========================================================================
    7.2.3. BLOCKQUOTE STYLE 3
    ========================================================================= */
.blockquote.style-3 {
    margin-bottom: 20px;
    padding: 0 0 0 30px;
    border-left: 5px solid;
}
.blockquote.style-3 p {
    font-family: 'Suranna', serif;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 10px;
}
.blockquote.style-3 .author {
    font-size: 14px;
    color: #161d27;
    text-transform: uppercase;
    font-family: 'Montserrat', Arial, sans-serif;
}


/* ==========================================================================
    7.3. BUTTONS 
    ========================================================================= */
.btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    backface-visibility: hidden;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.btn span {
    position: relative;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    display: block;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: #fff;
    text-transform: uppercase !important;
    font-size: 14px;
    font-family: 'Montserrat', Arial, sans-serif !important;
}
.btn-big {
    padding: 15px 85px;
}
.btn-centered {
    margin: 0 auto;
    float: none;
}
.btn.black {
    background-color: #161d27;
}
.btn.gold span {
    color: #161d27;
}


/* ==========================================================================
    7.4. CUSTOM HEADING
    ========================================================================= */

.custom-heading,
.custom-img-background .open-table-widget-style-1 .custom-heading{
    position: relative;
    margin-bottom: 50px;
}
.custom-img-background .open-table-widget-style-1 {
    padding-left: 30px;
    padding-right: 30px;
}
.custom-img-background .custom-heading {
    margin-bottom: 0;
}
.custom-heading h3 {
    margin-bottom: 10px;
}
.custom-heading h4 {
    margin-bottom: 15px;
}
.page-content.dark .custom-heading h1,
.page-content.dark .custom-heading h3 {
    color: #fff;
}
.custom-heading.style-1 h3 span {
    font-size: 36px;
}
.custom-heading.style-1 h2 span {
    font-size: 50px;
}
.custom-heading.style-1 h1 span {
    font-size: 60px;
}


/* ==========================================================================
    7.5. CUSTOM REVIEW BLOCKS
    ========================================================================= */

.custom-review-description a,
.custom-review-block-meta li .author {
    font-family: 'Montserrat', Arial, sans-serif;
}
.custom-review-block {
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.custom-review-block .avatar {
    float: left;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 67px;
    height: 67px;
}
.custom-review-block.style-1 .custom-review-description,
.custom-review-block.style-2 .custom-review-description{
    float: left;
    padding: 15px 20px;
    border: 1px solid #e3e3e3;
    font-size: 14px;
}
.custom-review-block.style-1 .custom-review-description {
    width: 77.2%;
}
.custom-review-block.style-2 .custom-review-description{
    width: 89%;
}
.custom-review-description .custom-review-block-meta {
    margin-bottom: 5px;
}
.custom-review-block-meta li {
    display: inline-block;
}
.custom-review-block-meta li .author {
    color: #161d27;
    text-decoration: none;
}
.custom-review-block.style-1 .custom-review-block-meta .date {
    font-size: 11px;
    color: #bbbbbb;
    margin-left: 5px;
}
.custom-review-description p{
    line-height: 23px;
    padding-bottom: 0;
}
.custom-review-description a {
    text-decoration: underline;
}
.custom-review-block.style-1 .rating,
.custom-review-block.style-2 .rating{
    font-size: 17px;
}
.custom-review-block.style-2 .rating {
    float: right;
}
.rating span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}
.rating span.star:before {
    content: "\f006";
    padding-right: 0;
    color: #bbbbbb;
}
.rating span.star.highlighted:before {
    content: "\f006";
}
.rating span.star:hover {
    cursor: pointer;
}


/* ==========================================================================
    7.6. DIVIDERS
    ========================================================================= */

.divider {
    position: relative;
}

.divider.style-1 {
    width: 90px;
}
.custom-heading.style-2 .divider.style-1,
.divider.style-3 {
    width: 47px;
}

.divider.style-1.center {
    margin: 15px auto 0 auto;
}
.divider .hr-simple {
    position:absolute;
    height: 1px;
    width: 30px;
}
.divider .hr-simple.left{
    left: 0;
}
.divider .hr-simple.right{
    right: 0;
}
.divider .hr-icon {
    position: absolute;
    font-size: 6px;
    top: -3px;
    left: 0;
}
.divider.center .hr-icon {
    right: 0;
    top: -2px;
}
.divider.style-2.center {
    margin: 0 auto 0 auto;
}
.divider.style-2 {
    width: 240px;
    text-align: center;
}
.divider .hr-double.left:before {
    position:absolute;
    content: "";
    width: 76px;
    height: 1px;
    left: 17px;
    top: 14px;
}
.divider .hr-double.left:after {
    position:absolute;
    content: "";
    width: 93px;
    height: 1px;
    top: 18px;
    left: 0;
}
.divider .hr-double.right:before {
    position:absolute;
    content: "";
    width: 76px;
    height: 1px;
    right: 17px;
    top: 14px;
}
.divider .hr-double.right:after {
    position:absolute;
    content: "";
    width: 93px;
    height: 1px;
    top: 18px;
    right: 0;
}
.divider-svg {
    display: inline-block;
}
.divider .divider-svg img{
    width: 23px;
    height: 30px;
}

.divider .divider-svg {
    width: 23px;
    height: 30px;
    margin-left: 4px;
}

.simple-divider {
    width: 30px;
    height: 2px;
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 15px;
}

/* ==========================================================================
    7.7. EVENTS CAROUSEL
============================================================================= */
#events-carousel {
    position: relative;
}
#events-carousel .owl-item{
    display: table;
}
#events-carousel .owl-item .event-item-list{
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.event-item-container .event-item-list {
    float: left;
    width: 50%;
}
.article-meta {
    margin-bottom: 20px;
}
.article-meta li {
    display: inline-block;
    margin: 0 5px;
    padding-left: 14px;
    font-size: 14px;
    position: relative;
}
.article-meta li:before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 6px;
    content: "\f111";
    display: block;
    top: 1px;
    left: 0px;
}
.event-item-list.event-item-content {
    padding: 0 40px;
}
.owl-controls span {
    width: 15px !important;
    height: 15px !important;
    margin: 5px 3px !important;
    background-color: #eee5e3 !important;
}
#events-carousel .owl-pagination {
    text-align: center;
    display: table;
    position: absolute;
    bottom: 30px;
    right: 22.5%;
    margin: 20px auto 0;
}
#events-carousel.owl-theme .owl-controls {
    margin-top: 0;
}



/* ==========================================================================
    7.8. GALLERIES
    ========================================================================= */

/* ==========================================================================
    7.8.1. SIMPLE GALLERY
    ========================================================================= */

.simple-gallery .gallery-item {
    padding: 0;
}
.simple-gallery,
.simple-gallery .gallery-item img {
    margin: 0;
}
.simple-gallery .hover-mask-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);

    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}
.simple-gallery .gallery-item:hover .hover-mask-container{
    opacity: 1;
}
.hover-mask-container .hover-zoom{
    position: absolute;
    bottom: 50%;
    left: 50%;

    width: 50px;
    height: 50px;
    margin-bottom: -25px;
    margin-left: -25px;

    transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);

    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}
.hover-mask-container .hover-zoom a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 18px;
    width: 50px;
    height: 50px;
}
.simple-gallery .gallery-item:hover .hover-zoom{
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
}
.simple-gallery .hover-mask-container .hover-zoom:before {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #fff;
    left: 50%;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.simple-gallery .hover-mask-container .hover-zoom:hover:before,
.simple-gallery .hover-mask-container .hover-zoom:hover:after{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.simple-gallery .hover-mask-container .hover-zoom:after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #fff;
    top: 50%;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

/* ==========================================================================
    7.8.2. ISOTOPE GALLERY
    ========================================================================= */
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
.gallery-filters {
    margin-bottom: 40px;
}
ul#filters {
    display: inline-block;
}
#filters li {
    position: relative;
    float: left;
    padding-right: 7px;
    padding-left: 7px;
    margin: 0 10px 0 10px;
    padding-left: 14px;
    list-style: none;
}
#filters li:before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 6px;
    content: "\f111";
    display: block;
    top: 1px;
    left: 0px;
}
#filters li a {
    font-weight: 700;
    font-size: 18px;
    color: #777;
    padding-bottom: 5px;
}
#filters li a:hover, #filters .active a {
    border-bottom: 1px solid;
}
#galleryitems {
    margin-top: 0;
}
#galleryitems li {
    display: inline-block;
    list-style: none;
    background: none;
    padding-left: 15px;
    margin: 0;
}
.isotopeitems-full .isotope-item {
    padding-left: 0 !important;
    padding-right: 1px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0;
    cursor: pointer;
    margin-right: -1px !important;
}
.gallery-img {
    position: relative;
    overflow: hidden;
}
.gallery-img img {
    width: 100%;
}
.gallery-item-container .hover-mask-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(22, 29, 39, 0.7);

    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.gallery-item-container .gallery-img:hover .hover-mask-container{
    opacity: 1;
}

.gallery-item-container .hover-mask-container .hover-zoom {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    margin-left: -25px;
    transform: translate(0,50%);
    -webkit-transform: translate(0,50%);
    -moz-transform: translate(0,50%);
    -ms-transform: translate(0,50%);
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.gallery-item-container .hover-mask-container .hover-zoom a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    color: #fff;
    font-size: 18px;
    opacity: 0;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;

    transform: translate(0,250%);
    -webkit-transform: translate(0,250%);
    -moz-transform: translate(0,250%);
    -ms-transform: translate(0,250%);
}
.gallery-item-container:hover .hover-mask-container .hover-zoom a{
    opacity: 1;
    transform: translate(0,90%);
    -webkit-transform: translate(0,90%);
    -moz-transform: translate(0,90%);
    -ms-transform: translate(0,90%);
}
.load-more {
    text-align: center;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.load-more a {
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 20px;
}
.load-more a:hover {
    color: #fff;
}
.load-more.dark {
    background-color: #363636;
}
.load-more.dark:hover {
    background-color: #4D4D4D;
}


/* ==========================================================================
    7.8.3. SIMPLE GALLERY CAROUSEL
    ========================================================================= */

#simple-gallery-carousel.owl-theme .owl-controls {
    margin-top: 30px;
}

/* ==========================================================================
    7.9. INSTAGRAM STREAM
    ========================================================================= */

.instagram-stream{
    width: 100%;
    margin: 0 auto;
    display: block;
    display: table;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #161D27;
}
.instagram-stream li{
    list-style: none;
    position: relative;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-size: cover;
}
.instagram-stream li a {
    display: block;
    width: 100%;
    height: 100%;
}
.instagram-stream li a:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.instagram-stream li a:hover:before{
    background-color: rgba(0,0,0,0.0);
}
.instagram-stream .is-text {
    background-color: #161d27;
    text-align: left;
    padding: 0 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.instagram-stream .is-text-inner-table {
    display: table;
    height: 100%;
}
.instagram-stream .is-text-inner-cell {
    display: table-cell;
    vertical-align: middle;
}
.instagram-stream .is-text p{
    color: #ccd4dc;
}
.instagram-stream .is-text h3 {
    color: #fff;
    word-break: break-all;
    margin-bottom: 0;
}

.instagram-list{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    margin-bottom: 0 !important;
}

/* ==========================================================================
    7.10. MENUS
============================================================================= */

.menu-price p,
.menu-price {
    font-family: 'Montez', cursive;
    font-size: 40px;
}

/* ==========================================================================
    7.10.1. MENU STYLE 1
============================================================================= */

.menu-style-1 .menu-item {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.page-content .menu-style-1{
    margin-bottom: 0;
}
.menu-style-1 .menu-item-thumbnail,
.menu-style-1 .menu-item-description {
    float: left;
}
.menu-style-1 .menu-item-thumbnail {
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 98px;
    height: 98px;
}
.menu-style-1 .menu-item-description {
    width: 342px;
    margin-right: 13px;
    padding: 10px 0;
}
.menu-style-1 .menu-item-description p{
    font-size: 14px;
    line-height: 22px;
}
.menu-style-1 .menu-item-price {
    float: right;
    width: 82px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.menu-style-1 .menu-item-price p{
    font-size: 40px;
    padding: 35px 0;
    text-align: center;
}
.menu-left-shadow {
    padding-left: 35px;
    padding-top: 45px;
}
.menu-right-shadow {
    padding-right: 35px;
    padding-top: 45px;
}
.menu-left-shadow:before {
    content: "";
    position: absolute;
    background-image: url('../img/menu-left-shadow.html');
    background-position: 0;
    background-repeat: no-repeat;
    height: 643px;
    width: 116px;
    left: -78px;
    top: 0;
}
.menu-right-shadow:before {
    content: "";
    position: absolute;
    background-image: url('../img/menu-right-shadow.html');
    background-position: 0;
    background-repeat: no-repeat;
    height: 643px;
    width: 116px;
    right: -78px;
    top: 0;
}
.menu-background {
    border-top: 1px solid #dddddd;
    background-color: #fff;
}

/* ==========================================================================
    7.10.2. MENU STYLE 2
============================================================================= */

.menu-style-2 li {
    margin-bottom: 20px;
    margin-top: 20px;
}
.menu-style-2 .menu-item {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 1;
}
.page-content .menu-style-2{
    margin-bottom: 20px;
}
.menu-style-2 .menu-item-title {
    position: relative;
}
.menu-style-2 .menu-item-price {
    position: absolute;
    text-align: right;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 2;
}
.menu-style-2 .menu-item-price p{
    font-size: 26px;
    padding-left: 5px;
}

.menu-style-2 .menu-item-title p{
    background-color: #fff;
    color: #161d27;
    float: left;
    font-size: 15px;
    line-height: 22px;
    z-index: 2;
    font-weight: 700;
    position: relative;
    padding-right: 5px;
    padding-bottom: 0;
}
.menu-style-2 .menu-item-title .dotted-line {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    border: 0;
    height: 1px;
    display: block;
    background: 0 0;
    border-bottom: 2px dotted #161d27;
}
.menu-style-2 .menu-item-description {
    float: left;
    width: 100%;
}
.menu-style-2 .menu-item-description p{
    padding-top: 10px;
    padding-right: 175px;
    padding-bottom: 5px;
    line-height: 22px;
}
.menu-left-shadow .menu-style-2 .menu-item-description p,
.menu-right-shadow .menu-style-2 .menu-item-description p{
    padding-right: 55px;
}


/* ==========================================================================
    7.11. MENU PACKAGES
    ========================================================================= */

.menu-sample ul {
    margin-bottom: 10px;
}
.menu-sample ul li {
    position: relative;
}
.menu-sample ul li:before {
    position: relative;
    font-family: 'FontAwesome';
    font-size: 6px;
    content: "\f111";
    top: -3px;
    left: -6px;
}
.menu-sample .menu-price {
    display: table;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 98px;
    height: 98px;
    background-color: #161d27;
    margin: -80px auto 20px auto;
}
.menu-sample .menu-price p{
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    padding: 0;
}

/* ==========================================================================
    7.11.1. MENU PACKAGE STYLE 1
    ========================================================================= */

.menu-package {
    margin-top: 0;
}
.menu-package .custom-heading h3,
.menu-package .custom-heading h4 {
    margin-bottom: 5px;
}
.menu-sample figcaption {
    padding: 30px 0;
    max-width: 100%;
    z-index: 2;
    position: relative;
}
.menu-package .menu-sample a img {
    width: 100%;
    display: block;
}
.menu-package .menu-sample figcaption {
    width: 100%;
    opacity: 1;
}
.menu-package .menu-sample figcaption p {
    text-align: center;
    line-height: 22px;
}
.menu-package .menu-sample figcaption .member-about {
    margin-top: 30px;
}
.menu-image {
    z-index: 1;
    position: relative;
}
.border-decor .menu-image {
    position: relative;
}
.border-decor .menu-image:before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    background: url("../img/border-decor.html") bottom left repeat-x;
    background-size: contain;
}
.border-decor.page-content {
    position: relative;
}
.border-decor.page-content:before {
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    background: url("../img/border-decor.html") bottom left repeat-x;
    background-size: contain;
}

/* ==========================================================================
    7.11.2. MENU PACKAGE STYLE 2
    ========================================================================= */

.menu-package .menu-sample.style-2 {
    -webkit-box-shadow: 0px 2px 8px 1px rgba(117, 117, 117, 0.1);
    -moz-box-shadow: 0px 2px 8px 1px rgba(117, 117, 117, 0.1);
    box-shadow: 0px 2px 8px 1px rgba(117, 117, 117, 0.1);
}
.menu-sample.style-2 figcaption {
    padding: 30px;
}

/* ==========================================================================
    7.11.3. MENU PACKAGE STYLE 3
    ========================================================================= */

.menu-sample.style-3 .menu-price {
    display: table;
    overflow: hidden;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    margin: 0;
}

/* ==========================================================================
    7.12. NIVO SLIDER
    ========================================================================= */

.nivoSlider {
    margin-bottom: 0 !important;
}
.nivo-caption {
    width: 95% !important;
    background-color: rgba(22,29,39,0.9) !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)" !important;
    padding: 15px 40px 25px 20px !important;
}
.nivo-caption h3{
    font-size: 18px !important;
    line-height: 22px;
    font-family: 'Montserrat', Arial, sans-serif;
}
.nivo-caption p {
    color: #ccd4dc;
    padding: 0 !important;
    font-size: 14px;
    line-height: 23px;
}
.nivo-caption .menu-price {
    float: left;
    padding: 33px 20px 20px 0;
}

/* ==========================================================================
    7.13. OWL CAROUSEL - GENERAL
============================================================================= */

.owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: 0 !important;
}
.owl-carousel .owl-controls .owl-buttons .owl-next {
    right: 0 !important;
}
.owl-carousel .owl-controls .owl-buttons .owl-prev, .owl-carousel .owl-controls .owl-buttons .owl-next {
    width: 50px !important;
    border: 1px solid #ccd4dc !important;
    height: 50px !important;
    float: left !important;
    background-color: transparent !important;
}
.owl-carousel .owl-controls .owl-buttons .owl-next,
.owl-carousel .owl-controls .owl-buttons .owl-prev {
    top: 0 !important;
}
.owl-carousel .owl-controls .owl-buttons {
    top: auto !important;
    height: 60px;
    left: 0 !important;
    width: 108px !important;
    margin: 0 auto !important;
    margin-top: -20px;
    bottom: 5%;
}
#featured-menu-carousel.owl-carousel .owl-stage-outer {
    padding-bottom: 100px;
}
.owl-carousel .owl-controls .owl-buttons .owl-next {
    background-image: none !important;
}
.owl-carousel .owl-controls .owl-buttons .owl-next:before,
.owl-carousel .owl-controls .owl-buttons .owl-prev:before{
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 14px;
    color: #acb8c4;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -5px;
    text-indent: 0;
}
.owl-carousel .owl-controls .owl-buttons .owl-next:before {
    content: "\f054";
}
.owl-carousel .owl-controls .owl-buttons .owl-prev {
    background-image: none !important;
}
.owl-carousel .owl-controls .owl-buttons .owl-prev:before  {
    content: "\f053";
}
.owl-theme .owl-controls .owl-buttons div {
    position: relative;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0  !important;
    border-radius: 0  !important;
    margin: 0 2px  !important;
}

.owl-carousel .item {
    margin: 0 10px;
}

/* ==========================================================================
    7.14. PROMO BOXES
    ========================================================================= */

.promo-box {
    float: left;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(117, 117, 117, 0.1);
    -moz-box-shadow: 0px 2px 8px 1px rgba(117, 117, 117, 0.1);
    box-shadow: 0px 2px 8px 1px rgba(117, 117, 117, 0.1);
}

.promo-box img, .promo-box-content {
    float: left;
}
.promo-box-content {
    padding: 15px 30px;
    width: 290px;
}

.promo-box .custom-heading {
    margin-bottom: 30px;
}
.promo-box .custom-heading h3 {
    margin-bottom: 0;
}
.promo-box a.more-details {
    font-size: 18px;
    margin-top: 0;
}

/* ==========================================================================
    7.15. RECENT POST BLOCKS 
    ========================================================================= */
.pi-latest-posts {
    margin-bottom: 0 !important;
}
.pi-latest-posts img {
    margin-bottom: 25px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.pi-latest-posts .post-meta {
    margin-right: 30px;
    margin-bottom: 50px;
}
.pi-latest-posts .divider .hr-simple {
    position: absolute;
    height: 1px;
    width: 96%;
    background-color: #e3e3e3;
}
.pi-latest-posts .divider.style-3 {
    width: 100%;
}
.col-md-4.pi-latest-posts .post-meta,
.col-md-3.pi-latest-posts .post-meta{
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
}
.col-md-4.pi-latest-posts .divider .hr-simple,
.col-md-3.pi-latest-posts .divider .hr-simple{
    width: 92%;
}

/* ==========================================================================
    7.16. TABS HORIZONTAL 
    ========================================================================= */
.tabs {
    overflow: hidden;
    margin-bottom: 20px;
}
.tabs i {
    padding-right: 5px;
    font-size: 13px;
}
.tabs li {
    display: inline-block;
    margin: 0 5px;
    padding-left: 14px;
    font-size: 14px;
    position: relative;
    padding-bottom: 3px;
}
.tabs li:before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 6px;
    content: "\f111";
    display: block;
    top: 1px;
    left: 0px;
}
.tabs li.active a{
    border-bottom: 1px solid;
    top: 0;
    padding-bottom: 3px;
}
.tabs li a:hover {
    border-bottom: 1px solid;
    padding-bottom: 3px;
}
.tab-content-wrap {
    width: 60%;
    overflow: hidden;
    margin: 50px auto 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.tab-content-wrap li {
    position: relative;
    padding-left: 14px;
}
.tab-content-wrap li:before {
    position: relative;
    font-family: 'FontAwesome';
    font-size: 6px;
    content: "\f111";
    top: -3px;
    left: -8px
}
.tab-content-wrap p span{
    font-style: italic;
    color: #777;
}
.tab-menu-price {
    display: inline-block;
}
.tab-menu-price li {
    padding-left: 0;
}
.tab-menu-price li:before {
    display: none;
}
.tab-menu-price .menu-thumbnail {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 98px;
    height: 98px;
    float: left;
    margin-right: -5px;
    z-index: 1;
}
.tab-menu-price .menu-price {
    display: table;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 98px;
    height: 98px;
    float: left;
    margin-left: -5px;
}
.tab-menu-price .menu-price p{
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    padding: 0;
}

/* ==========================================================================
    7.17. TEAM MEMBERS 
    ========================================================================= */

.team-member figure {
    position: relative;
    width: 100%;
}
.team-member figcaption {
    padding: 20px 5px 0 5px;
    max-width: 100%;
    font-size: 14px;
}
.team-member figcaption .member-name {
    font-family: 'Suranna', serif;
    color: #161d27;
    margin-bottom: 5px;
}
.team-member figcaption .member-position {
    padding-bottom: 0;
    color: #959595;
}
.team-member img {
    width: 100%;
    display: block;
}
.team-member figcaption {
    width: 100%;
    opacity: 1;
}
.team-member figcaption .member-name,
.team-member figcaption .member-position,
.team-member figcaption .member-about {
    text-align: center;
    line-height: 22px;
}
.team-member figcaption .member-about {
    margin-top: 30px;
}
.team-member figcaption .hr-simple {
    margin: 10px auto;
    left: 0;
    right: 0;
}

/* ==========================================================================
    7.18. TESTIMONIALS
    ========================================================================= */

#fancy-testimonial-carousel .testimonial-author,
#testimonial-style-1-carousel .testimonial-author,
#testimonial-style-1-carousel .testimonial-author-position,
#testimonial-style-2-carousel .testimonial-author,
#testimonial-style-2-carousel .testimonial-author-position,
#testimonial-style-3-carousel .testimonial-author,
#testimonial-style-3-carousel .testimonial-author-position {
    text-transform: uppercase;
    font-family: 'Montserrat', Arial, sans-serif;
    padding-bottom: 0;
}

/* ==========================================================================
    7.18.1. FANCY TESTIMONIAL CAROUSEL
    ========================================================================= */

.fancy-testimonial-background h4{
    font-size: 30px;
    margin-bottom: 20px;
}
.fancy-testimonial-background {
    background-color: #161d27;
    padding: 70px 0;
}
#fancy-testimonial-carousel p {
    color: #ccd4dc;
    font-size: 14px;
    padding: 0 140px 0;
    line-height: 22px;
}
#fancy-testimonial-carousel .testimonial-author {
    margin-top: 10px;
}

/* ==========================================================================
    7.18.2. TESTIMONIAL STYLE 1 CAROUSEL
    ========================================================================= */

#testimonial-style-1-carousel {
    background-color: #fcfcfc;
    padding: 50px 0;
    text-align: center;
}
#testimonial-style-1-carousel p {
    line-height: 23px;
    font-weight: 700;
    padding: 0 40px;
    font-size: 14px;
}
#testimonial-style-1-carousel .testimonial-author,
#testimonial-style-1-carousel .testimonial-author-position {
    font-size: 13px;
    color: #161d27;
    line-height: 20px;
}

/* ==========================================================================
    7.18.3. TESTIMONIAL STYLE 2 CAROUSEL
    ========================================================================= */
#testimonial-style-2-carousel {
    text-align: center;
}
#testimonial-style-2-carousel .testimonial-background {
    background-color: #fcfcfc;
    padding: 50px 0;
}
#testimonial-style-2-carousel p {
    line-height: 23px;
    font-weight: 700;
    padding: 0 40px;
    font-size: 14px;
}
#testimonial-style-2-carousel .testimonial-author,
#testimonial-style-2-carousel .testimonial-author-position {
    padding: 0;
    font-size: 13px;
    color: #161d27;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
}

/* ==========================================================================
    7.18.4. TESTIMONIAL STYLE 3 CAROUSEL
    ========================================================================= */

#testimonial-style-3-carousel.owl-carousel .owl-stage-outer {
    overflow: inherit;
}
#testimonial-style-3-carousel {
    text-align: center;
}
#testimonial-style-3-carousel .testimonial-background {
    background-color: #fcfcfc;
    padding: 80px 0 20px 0;
    margin-top: 60px;
}
#testimonial-style-3-carousel p {
    line-height: 23px;
    font-weight: 700;
    padding: 0 40px;
    font-size: 14px;
}
#testimonial-style-3-carousel .testimonial-author,
#testimonial-style-3-carousel .testimonial-author-position {
    padding: 0;
    font-size: 13px;
    color: #161d27;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
}
.testimonial-author-thumbnail {
    position: absolute;
    right: 0;
    top: 10px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 98px;
    height: 98px;
}
.testimonial-author-thumbnail img {
    width: 100%;
}


/* ==========================================================================
    7.19. SLIDER - MASTER SLIDER
============================================================================= */

.master-slider .pi-caption01 {
    font-family: 'Suranna', serif;
    color: #fff;
    font-size: 78px;
    line-height: 78px;
}
.master-slider .pi-caption02 {
    font-family: 'Montez', cursive;
    font-size: 72px;
    text-transform: none;
}
.master-slider .pi-text01 {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
    font-size: 21px;
}
.master-slider .pi-text02,
.master-slider .pi-text02 span {
    font-family: 'Montserrat-UltraLight', Arial, sans-serif;
}
.master-slider .pi-text02 {
    color: #fff;
    font-size: 18px;
}
.master-slider .pi-text02 span {
    color: #acb8c4;
}
.master-slider .divider {
    width: 29.5em;
    text-align: center;
}
.master-slider .divider .hr-double.left:before {
    position:absolute;
    content: "";
    width: 10em;
    height: 1px;
    left: 2em;
    top: 1.8em;
}
.master-slider .divider .hr-double.left:after {
    position:absolute;
    content: "";
    width: 12em;
    height: 1px;
    top: 2.2em;
    left: 0;
}
.master-slider .divider .hr-double.right:before {
    position:absolute;
    content: "";
    width: 10em;
    height: 1px;
    right: 2em;
    top: 1.8em;
}
.master-slider .divider .hr-double.right:after {
    position:absolute;
    content: "";
    width: 12em;
    height: 1px;
    top: 2.2em;
    right: 0;
}

.master-slider .divider-svg {
    display: inline-block;
    width: 3em;
    height: 4em;
}
.master-slider .divider .divider-svg img{
    width: 3em;
    height: 4em;
}



/* ==========================================================================
    8. BLOG
    ========================================================================= */

/* ==========================================================================
    8.1. BLOG LIST
    ========================================================================= */

.blog-filters {
    border-bottom: 1px solid #e3e3e3;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
}
.blog-filters .dropdown {
    position: relative;
    float: left;
    margin-top: 8px;
}
.blog-filters .dropdown-menu {
    padding: 0;
    max-width: 140px;
    border: 1px solid #ddd;
    border-radius: 0;
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    -webkit-background-clip: padding-box;
}

#categoriesDropdown .fa {
    position: relative;
    top: -3px;
}
.open>.dropdown-toggle.btn-default:focus {
    background-color: transparent;
}
.blog-filters .dropdown .dropdown-toggle {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #161d27;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    font-weight: 700;
    font-family: 'Montserrat', Arial, sans-serif;
}
.blog-filters .dropdown .dropdown-toggle:focus {
    outline: none;
}
.blog-filters .dropdown .dropdown-toggle .fa {
    font-size: 10px;
}

ul.post-list {
    margin-top: 0;
}
.blog-posts.post-list .post-body {
    float: left;
    width: 52%;
}
.blog-posts.post-list .post-body p{
    font-size: 15px;
}
.blog-posts.post-list .post-body .more-details {
    float: right;
}
.post-meta {
    float: left;
    margin-top: 0;
    margin-right: 45px;
    width: 105px;
}
.post-meta li {
    position: relative;
    text-align: right;
    text-transform: uppercase;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 25px;
}
.post-meta li .meta-time li {
    color: #161d27;
}
.post-meta li .meta-time {
    margin-bottom: 15px;
}
.post-meta li .meta-time .fa,
.post-meta li .meta-tags .fa {
    font-size: 6px;
    position: absolute;
    top: 10px;
    right: -13px;
}
.post-media {
    overflow: hidden;
}
.post-list .post-media {
    position: relative;
    float: left;
    margin-right: 30px;
    cursor: pointer;
}
.blog-posts.post-list .blog-post {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 80px;
    margin-bottom: 80px;
}
.post-body .custom-heading a h3 {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    text-decoration: none;
}
.post-body .custom-heading h3 {
    font-size: 30px;
}
.page-content .pagination{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    float: right;
}
.page-content .pagination ul{
    float: left;
    margin: 0;
}
.page-content .pagination li{
    float: left;
    background-color: #fcfcfc;
    list-style: none;
    margin-right: 3px;
    padding-left: 0;
    width: 30px;
    height: 30px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.page-content .pagination li a{
    display: table-cell;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid transparent;
    font-size: 15px;
    color: #161d27;
}
.page-content .pagination li.active a,
.page-content .pagination li:hover a{
    border-style: solid;
    border-width: 1px;
    background-color: #161d27;
    color: #fff;
}

/* ==========================================================================
    8.2. BLOG DETAILS
    ========================================================================= */
.blog-details.col-md-10 {
    padding: 0;
}
.blog-details .post-meta {
    width: auto;
    float: right;
}
.blog-details .post-media {
    margin-bottom: 30px;
}
.blog-details .post-media img {
    padding-right: 0;
}
.blog-details h5{
    margin-top: 30px;
    margin-bottom: 20px;
}
.blog-details .article-tags {
    margin-top: 30px;
    padding: 30px 0;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
}
.blog-details .article-tags li {
    display: inline-block;  
}
.about-the-author {
    float: left;
    margin: 50px 0 0;
}
.blog-author-description a,
.blog-details .article-tags li span,
.blog-author-meta li .author,
.comment-meta li .author,
.comment-reply-link a{
    font-family: 'Montserrat', Arial, sans-serif;
}
.blog-details .article-tags li span {
    color: #161d27;
    text-transform: uppercase;
}
.blog-author .avatar,
.post-comments .comments-li .avatar,
.comments-li .children .avatar {
    float: left;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 67px;
    height: 67px;
}
.blog-author .blog-author-description,
.comments-li .comment .comment-content{
    float: left;
    padding: 15px 20px;
    border: 1px solid #e3e3e3;
    width: 91%;
    font-size: 14px;
}
.blog-author-description .blog-author-meta,
.comments-li .comment-meta {
    margin-bottom: 5px;
}
.blog-author-meta li,
.comment-meta li {
    display: inline-block;
}
.blog-author-meta li .author,
.comment-meta li .author {
    color: #161d27;
    text-decoration: none;
}
.blog-author-description p,
.post-comments p {
    line-height: 23px;
}
.blog-author-description a {
    text-decoration: underline;
}
ul.comments-li {
    margin-top: 0;
}
.comments-li li .comment {
    position: relative;
    float: left;
    margin-bottom: 35px;
    width: 100%;
}
.comments-li li:last-child .comment {
    border-bottom: none;
}
.comments-li .children li:last-child .comment {
    margin-bottom: 0;
}
.post-comments .comments-li li{
    padding-left: 0;
    margin: 0;
}
.post-comments .comments-li .fa {
    font-size: 14px;
    margin: 5px 3px 0 0;
}
ul.comment-meta {
    margin-top: 0;
}
.comment-reply-link {
    float: right;
}
.comment-reply-link a{
    color: #161d27;
    cursor: pointer;
    text-transform: uppercase;
}
.post-comments p {
    padding-bottom: 0;
}

.comments-li .children {
    margin-left: 53px;
    margin-bottom: 35px;
    float: left;
    width: 94%;
}
.comments-li .children li .comment{
    width: 100%;
}
.comments-li .children .comment .comment-content {
    width: 91%;
}
.post-comments h2{
    border-bottom: 2px solid #363636;
    line-height: 58px;
    margin-bottom: 30px;
}
.post-comments,
.blog-posts .comment-form {
    float: left;
    width: 100%;
}

/* ==========================================================================
    9. CONTACT
    ========================================================================= */

.wpcf7 .wpcf7-text,
.wpcf7 .wpcf7-textarea
{
    background-color: #fff;
    border: none;
    padding: 5px 5px 5px 15px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.wpcf7 .wpcf7-text {
    min-height: 30px;
    height: 37px;
    width: 49%;
    float: left;
}
.your-name .wpcf7-text,
.wpcf7.contact-form-extended .your-email .wpcf7-text{
    margin-right: 2%;
}
.wpcf7 .wpcf7-textarea {
    height: 148px;
    resize: none;
}
.wpcf7 .wpcf7-submit {
    color: #fff;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', Arial, sans-serif !important;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.wpcf7 .wpcf7-form-control-wrap {
    position: relative;
    display: block;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #777777;
    font-weight: 700;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #777777;
    font-weight: 700;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #777777;
    font-weight: 700;
}

.wpcf7.contact-form-extended .wpcf7-text {
    width: 32%;
}
/* ==========================================================================
    10. WIDGETS
    ========================================================================= */

/* ==========================================================================
    10.1. OPEN TABLE WIDGET
    ========================================================================= */

.open-table-widget-style-2 .open-table-widget {
    display: inline-block;
}
.open-table-widget-style-1 {
    background-color: #fff;
}
.page-content.dark .open-table-widget-style-1 .custom-heading h3 {
    color: #161d27;
}
.widget-title, .widgettitle {
    display: none;
}
.otw-widget-form-wrap {
    padding-top: 10px;
}
.otw-input-wrap {
    margin: 0 0 10px;
}
.otw-widget-form-wrap input[type=text] {
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.otw-widget-form-wrap select {
    padding-right: 0 !important;
}
.otw-widget-form-wrap input[type=text], .otw-widget-form-wrap select {
    position: relative;
    color: #777;
    margin: 0;
    height: 40px;
    font-weight: 600;
    padding: 0 0 0 33px;
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 1px solid #CCC;
    background-color: #FFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.otw-widget-form-wrap .otw-name-wrap input[type=text],
.otw-widget-form-wrap .otw-email-wrap input[type=text]{
    cursor: text;
}
.otw-widget-form-wrap input[type=text]::-ms-expand, .otw-widget-form-wrap select::-ms-expand {
    display: none;
} 
.otw-widget-form-wrap input[type=text]::-webkit-input-placeholder,
.otw-widget-form-wrap select::-webkit-input-placeholder {
    color: #777;
    text-align: left;
}
.otw-widget-form-wrap input[type=text]::-moz-placeholder,
.otw-widget-form-wrap select::-moz-placeholder {
    color: #777;
    text-align: left;
}
.otw-widget-form-wrap input[type=text]::-ms-input-placeholder,
.otw-widget-form-wrap select::-ms-input-placeholder {
    color: #777;
    text-align: left;
}
.otw-widget-form-wrap input[type="submit"] {
    padding: 12px 0;
    display: block;
    background-color: #161d27;
    font-size: 14px;
    color: #fff;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-appearance: button;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.open-table-widget-style-1 .otw-widget-form-wrap input[type="submit"],
.open-table-widget-style-1 .otw-widget-form-wrap input[type="text"],
.open-table-widget-style-1 .otw-widget-form-wrap select {
    width: 100%;
}
.open-table-widget-style-2 .otw-input-wrap {
    width: 360px;
    float: left;
}
.open-table-widget-style-3 .otw-input-wrap {
    width: 335px;
    display: inline-block;
}
.open-table-widget-style-2 .otw-widget-form-wrap input[type="text"],
.open-table-widget-style-2 .otw-widget-form-wrap select,
.open-table-widget-style-3 .otw-widget-form-wrap input[type="text"],
.open-table-widget-style-3 .otw-widget-form-wrap select {
    width: 100%;
}
.open-table-widget-style-2 .otw-widget-form-wrap input[type="submit"] {
    width: 360px;
    margin: 0 auto;
}
.open-table-widget-style-3 .otw-widget-form-wrap input[type="submit"]{
    width: 335px;
    margin: 0 auto;
}
.open-table-widget-style-2 .otw-party-size-wrap,
.open-table-widget-style-3 .otw-party-size-wrap,
.open-table-widget-style-2 .otw-email-wrap,
.open-table-widget-style-3 .otw-email-wrap,
.open-table-widget-style-3 .otw-date-wrap{
    margin: 0 30px;
}
.open-table-widget-style-3 .otw-date-wrap{
    margin-left: 30px;
}
.open-table-widget-style-2 .otw-widget-form-wrap input[type="submit"] {
    padding: 8px 0 9px 0;
}
.otw-date-wrap input {
    padding-left: 37px !important;
}
.otw-email-wrap input,
.otw-name-wrap input {
    padding-left: 37px !important;
}
.otw-input-wrap {
    position: relative;
}
.otw-date-wrap:before,
.otw-party-size-wrap:before,
.otw-time-wrap:before,
.otw-restaurant-wrap:before,
.otw-email-wrap:before,
.otw-name-wrap:before{
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 14px;
    display: block;
    top: 9px;
    left: 18px;
    z-index: 1;
}
.otw-date-wrap:before{
    content: "\f073";
}
.otw-party-size-wrap:before{
    content: "\f0c0";
}
.otw-time-wrap:before{
    content: "\f017";
}
.otw-restaurant-wrap:before{
    content: "\f19c";
}
.otw-email-wrap:before{
    content: "\f003";
}
.otw-name-wrap:before{
    content: "\f007";
}

/* ==========================================================================
    10.2. SEARCH WIDGET
    ========================================================================= */

.blog-filters .widget_search {
    float: right;
}
.widget_search .search-submit {
    min-height: 44px;
    width: 44px;
    display: inline-block;
    border: none;
    text-indent: -9999px;
    background: url('../img/search.html') no-repeat center center;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.widget_search .search-submit:hover {
    opacity: 0.5;
}
.widget_search .a_search {
    background-color: #fff;
    font-size: 14px;
    height: 44px;
    border: none;
    width: 170px;
    display: inline-block;
    color: #777;
    left: 0;
    top: 0;
    padding: 15px 0;
}

/* ==========================================================================
    10.3. CATEGORIES WIDGET
    ========================================================================= */

.dropdown-menu .widget_categories ul {
    margin-bottom: 0;
}
.dropdown-menu .widget_categories li a {
    vertical-align: middle;
    display: block;
    padding: 3px 10px;
    font-family: 'Montserrat', Arial, sans-serif;
}
.dropdown-menu .widget_categories li a:hover {
    background-color: #f8f8f8;
}


/* ==========================================================================
    10.4. RECENT POSTS WIDGET 
    ========================================================================= */

.rpw_posts_widget ul {
    margin-bottom: 0;
}
.rpw_posts_widget ul > li{
    position: relative;
    padding-left: 0;
    padding-bottom: 25px;
    padding-top: 0;
    float: left;
    min-width: 90%;
}

.rpw_posts_widget li img {
    float: left;
    margin-right: 20px !important;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 98px;
    height: 98px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.rpw_posts_widget li img:hover {
    opacity: 0.8;
}
.rpw_posts_widget li .date {
    color: #777777;
    font-size: 14px;
}
.rpw_posts_widget li .fa {
    font-size: 12px;
}
.rpw_posts_widget li .comment-number {
    color: #777;
    font-size: 14px;
    margin-left: 10px;
}
.rpw_posts_widget li a h4 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    margin: 12px 0 10px;
    padding-left: 80px;
    text-transform: none;
    color: #161d27;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.rpw_posts_widget .post-meta li .meta-time li {
    padding-bottom: 0;
}


/* ==========================================================================
    10.5. SHARRRE WIDGET
    ========================================================================= */
.pixely_widget_sharrre li {
    list-style: none;
    float: left;
    width: 67px;
    margin-right: 30px;
    margin-top: 10px;
    background: none;
    padding-left: 0;
}
.pixely_widget_sharrre li:nth-child(4n) {
    margin-right: 0;
}
.pixely_widget_sharrre .box .share {
    width: 68px;
    height: 26px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    position: relative;
    margin-top: 10px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.pixely_widget_sharrre .box .share::before {
    position: absolute;
    display: block;
    top: 50%;
    left: 20px;
    font-size: 14px;
    width: 14px;
    height: 18px;
    margin-top: -11px;
    margin-left: -14px;
    color: #fff;
}
.pixely_widget_sharrre .sharrre-facebook .box .share {
    background-color: #3b5998;
}
.pixely_widget_sharrre .sharrre-facebook .box .share:hover {
    background-color: #5772aa;
}
.pixely_widget_sharrre .sharrre-twitter .box .share {
    background-color: #00abf0;
}
.pixely_widget_sharrre .sharrre-twitter .box .share:hover {
    background-color: #14BAFD;
}
.pixely_widget_sharrre .sharrre-linkedin .box .share {
    background-color: #489dc9;
}
.pixely_widget_sharrre .sharrre-linkedin .box .share:hover {
    background-color: #62B6E2;
}
.pixely_widget_sharrre .sharrre-google-plus .box .share {
    background-color: #dd4b39;
}
.pixely_widget_sharrre .sharrre-google-plus .box .share:hover {
    background-color: #EC6251;
}
.pixely_widget_sharrre .sharrre-facebook .box .share::before {
    content: "\f09a";
    font-family: 'FontAwesome';
}
.pixely_widget_sharrre .sharrre-twitter .box .share::before {
    content: "\f099";
    font-family: 'FontAwesome';
    margin-left: -14px;
}
.pixely_widget_sharrre .sharrre-google-plus .box .share::before {
    content: "\f0d5";
    font-family: 'FontAwesome';
}
.pixely_widget_sharrre .sharrre-digg .box .share::before {
    content: "\f1a6";
    font-family: 'FontAwesome';
    margin-left: -18px;
}
.pixely_widget_sharrre .sharrre-delicious .box .share::before {
    content: "\f1a5";
    font-family: 'FontAwesome';
    margin-left: -14px;
}
.pixely_widget_sharrre .sharrre-stumbleupon .box .share::before {
    content: "\f1a4";
    font-family: 'FontAwesome';
    margin-left: -18px;
}
.pixely_widget_sharrre .sharrre-linkedin .box .share::before {
    content: "\f0e1";
    font-family: 'FontAwesome';
    margin-left: -14px;
}
.pixely_widget_sharrre .sharrre-pinterest .box .share::before {
    content: "\f0d2";
    font-family: 'FontAwesome';
    margin-left: -14px;
}
.pixely_widget_sharrre .box .share:hover::before {
    color: #fff;
}
.pixely_widget_sharrre .box .count,
.pixely_widget_sharrre .box .sharrre-text {
    text-align: center;
}
.pixely_widget_sharrre .box .count {
    position: relative;
    color: #3a383a;
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    border: 1px solid #bbbbbb;
    max-width: 75%;
    line-height: 31px;
    margin: 0 auto;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.pixely_widget_sharrre .box .count::after,
.pixely_widget_sharrre .box .count::before {
    margin: 0 auto;
    content: " ";
    height: 0;
    left: 0;
    width: 6px;
    right: 0;
    position: absolute;
}
.pixely_widget_sharrre .box .count::after {
    bottom: -5px;
    border-left: transparent solid 4px;
    border-right: solid transparent 4px;
    border-top: solid 5px;
    color: #fff;
}
.pixely_widget_sharrre .box .count::before {
    bottom: -6px;
    border-left: transparent solid 5px;
    border-right: solid transparent 5px;
    border-top: solid 6px;
    color: #bbb;
}
.pixely_widget_sharrre .box .sharrre-text {
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    padding-top: 8px;
    padding-left: 16px;
    font-family: Arial, sans-serif;
}


/* ==========================================================================
    11. FOOTER
========================================================================= */
#footer-wrapper {
    position: relative;
    background-color: #e7e7e7;
   
    background-position: left 60px, right 60px;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 15px;
}
#footer-wrapper img {
    display: inline-block;
}
#footer-wrapper .contact-info-list {
    margin-top: 30px;
}
#footer-wrapper .contact-info-list li{
    color: #acb8c4;
    font-size: 14px;
    margin: 2px 0;
}
.social-links {
    display: table;
}
.social-links li{
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
.social-links li a{
    display: table-cell;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    font-size: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
#footer-wrapper .social-links li a{
    background-color: #b28c2f;
}
#footer-wrapper .social-links li a:hover{
    background-color: #000;
	color:#000 !important;
}
#footer-wrapper .social-links li a i{
    color: #fff;
}
#footer-wrapper .newsletter {
    width: 443px;
    float: right;
    position: relative;
}
#footer-wrapper .newsletter .email {
    background-color: #1d2026;
    border: none;
    width: 265px;
    line-height: 37px;
    height: 40px;
    padding-left: 20px;
    font-size: 13px;
    color: #acb8c4;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
#footer-wrapper .newsletter .email:focus {
    background-color: #2B2F35;
}
#footer-wrapper .newsletter .submit {
    position: absolute;
    padding: 8px 60px;
    color: #0b0e13;
    font-family: 'Montserrat', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    top: 0;
    right: 0;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-weight: 600;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.newsletter .email::-webkit-input-placeholder {
    color: #acb8c4;
}
.newsletter .email::-moz-placeholder {
    color: #acb8c4;
}
.newsletter .email::-ms-input-placeholder {
    color: #acb8c4;
}
#copyright-container {
    position: relative;
    background-color: #e7e7e7;
    border-top: 1px solid #54575B;
    padding: 10px 0;
}
#copyright-container .row {
    margin-bottom: 0;
}
#copyright-container p {
    color: #7f848a;
    padding-bottom: 0;
    padding-top: 15px;
    font-size: 13px;
    line-height: 13px;
}
#copyright-container a {
    font-weight: 600;
    line-height: 13px;
}
#copyright-container .breadcrumb {
    float: right;
    padding: 0;
    margin: 0;
    background: none;
}
#copyright-container .breadcrumb li {
    float: left;
    list-style: none;
    text-transform: uppercase;
    padding: 9px 5px;
}
#copyright-container .breadcrumb li a {
    font-size: 13px;
    color: #7f848a;
}
#copyright-container .breadcrumb li a:hover {
    
    color: #b28c2f !important;
}
#copyright-container .breadcrumb>li+li:before{
    display: none;
}
.scroll-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    z-index: 1;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #1d2026;
    opacity: 0.4;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
}
.show-scroll{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
}
.hide-scroll{
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
}
.scroll-up .fa{
    margin-top: 13px;

}

.scroll-up:hover {
    opacity: 0.8;
    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    -ms-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}

