@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }
body {
	background:#fff;
	font-size:12px;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', sans-serif;
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */
#wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;}

.header-div { margin:0 auto; padding:10px 0; background:#0d0f13; position:relative;}
.header-div .logo-div img { width:40px;}

.banner-container { margin:0 auto; padding:0; position:relative; text-align:center;}
.banner-container img{ margin:0 auto; padding:0; position:relative;text-align:center; width:100%;}

.header-div .top-form-div { margin:10px 0 0 0; padding:0; text-align:right; display:inline-block;}
.header-div .form-control { border:0;font-family: 'Roboto Condensed', sans-serif;  color:#555; font-size:14px;}

.header-div .lang-dropdown { margin:25px 0 0 20px; padding:0; text-align:right; float:right; display:inline-block; vertical-align:top;}
.header-div .lang-dropdown .btn.btn-default  { margin:0; padding:0; background-color:transparent; border:0; border-radius:0; color:#fff; font-size:13px;	}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover { background-color:transparent!important; border:0!important;}
.header-div .lang-dropdown .btn.btn-default.active.focus, .header-div .lang-dropdown .btn.btn-default.active:focus, 
.header-div .lang-dropdown .btn.btn-default:focus, .header-div .lang-dropdown .btn:focus,  .header-div .lang-dropdown .btn-default:focus,
.header-div .lang-dropdown .btn-default.focus, .header-div .lang-dropdown .btn-default:focus,
.header-div .lang-dropdown .btn.btn-default.active:hover, .header-div .lang-dropdown .btn.btn-default:active.focus, 
.header-div .lang-dropdown .btn.btn-default:active:focus, .header-div .lang-dropdown .btn.btn-default:active:hover, 
.header-div .lang-dropdown .open > .dropdown-toggle.btn-default.focus, .header-div .lang-dropdown .btn .open > .dropdown-toggle.btn-default:focus,
.header-div .lang-dropdown .open > .dropdown-toggle.btn-default:hover
  {color:#fff!important;}
  
.header-div .lang-dropdown .dropdown-menu { float:right; right:0; left:auto; min-width: 120px;}
.header-div .lang-dropdown .dropdown-menu > li > a { padding:3px 10px; font-size:13px;}
.header-div .lang-dropdown .dropdown-menu > li  img { margin-right:10px;}



.nopadding1 { padding: 0 !important;}
.pd5 { padding: 5px!important;}
 .btn-custom-join{
    margin:0 0 0 0;
    background-color:#fdb42c;
    color:#fff!important;
    width:100%;
    text-transform:uppercase;
    letter-spacing:1px;
	font-family: 'Roboto Condensed', sans-serif;
}

.content-area{ margin:20px 0 0px 0;  padding:0;  position:relative;}

.group_stage_section{
    margin:0;
    padding:0;
}
 .group_stage_div{
    margin:0;
    padding:0;
}
 .top_group_stage{
    margin:0;
    padding:0;
}
 .top_group_stage .h4-1{
    margin-bottom:10px;
    font-weight:400;
    position:relative;
    font-size:24px;
    font-family:'Roboto Condensed', sans-serif;
    color:#383c47;
}
 .top_group_stage .p-1{
    color:#383c47;
    font-size:18px;
    margin:0 0 20px 0px;
    font-family:'Roboto Condensed', sans-serif;
    font-weight:300;
}

 .alink{
    color:#ccd1d7;
}
 .alink:hover,.alink:focus{
    color:#ccd1d7;
}
 .group_match_section{
    margin:0;
    padding:0;
}
 .group_match_div{
    margin:0;
    padding:0;
}
 .top_group_match{
    margin:0 0 10px 0;
    padding:10px 0;
    height:120px;
}
 .group_match_section .p-match{
    margin:0;
    padding:50px 0 0 0;
    font-size:16px;
    font-family:'Roboto Condensed', sans-serif;
    font-weight:400;
}
 .col-50{
    width:50%;
    float:left;
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    height:auto;
    z-index:1000;
    cursor:pointer;
}
 .matchup-team{
    border:1px solid #c4cfda;
    padding:10px 0;
    background:#fdfdfd;
}
 .col-50.text-left{
    border-radius:2px 0px 0px 2px;
}
 .col-50.text-right{
    border-radius:0px 2px 2px 0px;
}
 .matchup-team:hover{
    background-color:#f1f1f1;
}
 .matchup-flag{
    width:5rem;
    top:0;
    margin:0 5px;
}
 .matchup-team-name{
    font-size:18px;
    padding:0 10px;
    font-family:'Roboto Condensed', sans-serif;
    font-weight:400;
    color:#383c47;
}
 .center-div{
    margin:0 auto;
    padding:0;
    width:100%;
    text-align:center;
}
 .btn.btn-custom-submit{
    display:inline-block;
    padding:6px 20px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    border:1px solid transparent;
    border-radius:2px;
    font-family:'Roboto Condensed', sans-serif;
    letter-spacing:2px;
    text-transform:uppercase;
    outline:none;
    margin:0 auto;
    background-color:rgba(168, 14, 8, 0.72);
    color:#fff;
    width:20%;
}
 .animate{
    transition:all 0.1s;
    -webkit-transition:all 0.1s;
}
 .action-button{
    position:relative;
    padding:10px 0;
    margin:0 auto;
    border-radius:6px;
    font-family:'Roboto Condensed', sans-serif;
    font-size:20px;
    color:#FFF;
    text-decoration:none;
    cursor:pointer;
    text-transform:capitalize;
    letter-spacing:0.5px;
}
 .action-button:hover{
    border-radius:6px;
    font-family:'Roboto Condensed', sans-serif;
    color:#FFF;
    text-decoration:none;
    cursor:pointer;
}
 .red {
    background-color: #fdb42c;
    border-bottom: 5px solid #a07524;
    color: #333!important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
}
 .action-button:active{
    transform:translate(0px,5px);
    -webkit-transform:translate(0px,5px);
    border-bottom:1px solid;
}
 .center-div{
    margin:0 auto;
    padding:0;
    width:97%;
    text-align:center;
    position:absolute;
    z-index:20000;
}
 .btn-draw{
    margin:8px 0!important;
    width:20%;
    margin:auto;
    text-align:center;
    z-index:5;
    font-family:'Roboto Condensed', sans-serif;
    border-radius:0!important;
    font-size:16px!important;
    padding:6px 12px;
    background-color:#fff;
    border:1px solid #ddd!important;
    transition:background-color .25s linear;
    color:#383c47;
    position:absolute;
    left:40%;
}
 .btn-draw:hover{
    background-color:#f1f1f1;
}

 .bg-color-1{
    background-color: #FDB42C!important;
}
 .bg-color-2{
    background-color:#fdfdfd!important;
}
 .color-1{
    color:#333333!important;
}
 .btn.active, .btn:active{
    background-image:none;
    outline:0;
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.0)!important;
    box-shadow:inset 0 3px 5px rgba(0,0,0,.0)!important;
}

 .margin-top-10{
    margin-top:10px;
}
 .margin-top-20{
    margin-top:20px;
}
 .margin-top-25{
    margin-top:25px;
}
 .margin-top-30{
    margin-top:30px;
}
 .margin-top-40{
    margin-top:40px;
}
 .margin-top-50{
    margin-top:50px;
}
 .margin-bottom-10{
    margin-bottom:10px;
}
 .margin-bottom-20{
    margin-bottom:20px;
}
 .margin-bottom-25{
    margin-bottom:25px;
}
 .margin-bottom-30{
    margin-bottom:30px;
}
 .margin-bottom-40{
    margin-bottom:40px;
}
 .margin-bottom-50{
    margin-bottom:50px;
}

.margin-left-5{margin-left:5px;}
.margin-left-10{margin-left:10px;}
.margin-left-15{margin-left:15px;}
.margin-left-20{margin-left:20px;}
.margin-left-25{margin-left:25px;}
.margin-left-30{margin-left:30px;}

.margin-right-5{margin-right:5px;}
.margin-right-10{margin-right:10px;}
.margin-right-15{margin-right:15px;}
.margin-right-20{margin-right:20px;}
.margin-right-25{margin-right:25px;}
.margin-right-30{margin-right:30px;}
.margin-right-30{margin-right:30px;}

.w-45{width:45%;float:left;position: relative;}

 .animate{
    transition:all 0.1s;
    -webkit-transition:all 0.1s;
}

.sbtn { margin:0; padding:10px 30px; background-color: #fdb42c; border-bottom: 5px solid #a07524; font-family:'Roboto Condensed', sans-serif;border-radius:6px; font-size:20px;
letter-spacing:0.5px;text-transform:capitalize; border-left:0; border-right:0; border-top:0;
}
.sbtn:hover {transform:translate(0px,5px); -webkit-transform:translate(0px,5px); background-color: #a07524; border-bottom: 5px solid #fdb42c; color:#fff;} 

.footer-section { margin:0; padding:10px 0; position:relative; background:#0d0f13;}
.footer-section h4 {  margin: 0 auto;    padding: 30px 0;    text-align: center;    font-family: 'Exo', sans-serif;    font-weight: 900;    color: #eee;
    text-transform: uppercase;
}

.footer-div-tc { margin:0 auto; padding:0; text-align:center;}
.footer-div-tc ol { margin:0 0 0 20px; padding:0; text-align:center;list-style:decimal;}
.footer-div-tc ol li{ margin:0; padding:0; text-align:center; color:#fff; font-size:13px; line-height:20px;list-style:decimal; list-style:decimal;display: list-item;
  list-style-position: inside;}

.list-inline { margin:15px auto; padding:0; text-align:center;}
.list-inline li{ margin:0 5px; padding:0; text-align:center; color:#fff; font-size:13px; line-height:20px;}
.list-inline li a{ margin:0; padding:0; text-align:center; color:#fff; font-size:13px; text-decoration:underline}
.list-inline li a:hover { text-decoration:none;}

.copyright_wrapper { margin:0 auto; padding:20px 0; text-align:center; background:#2f2f2f; color:#fff; font-size:11px; }

.header-div .top-form-div { width:80%; }



@media only screen and (max-width: 767px){
	html, body { overflow-x:hidden;}
	.container { width:100% !important;}
	.canvas { margin:0!important; padding:0!important;}
	
	.header-div .logo-div  { margin:0 auto; text-align:center;}
	.header-div .logo-div img { width: 50px;    text-align: center;    margin: 0 auto;}
	
	.group-1 { border: 1px solid #eee; padding:0;}
	.group-1 .row-1{ padding:0; margin:0;}
	.group_match_section .p-match { margin: 0;  text-align: center;   padding: 20px 0 10px 0;}
	.col-md-10.col-sm-10.col-xs-12 {    padding: 0 !important;}
	.col-50.text-left {    border-radius: 2px 0px 0px 2px;}
	.center-div {    margin: 0 auto;    padding: 0;    width: 95%;    text-align: center;    position: absolute;   z-index: 20000;}
	.col-50.text-right {    border-radius: 0px 2px 2px 0px;}
	.col-50 {    width: 50%;    float: left;    min-height: 1px;    margin: 20px 0 22px 0;    padding: 0;    border: 0;    height: auto;}
	.matchup-flag {   width: 3rem;    top: 0;    margin: 0 5px;}
	.matchup-team-name {  font-size: 14px;    padding: 0 0px;    font-family: 'Roboto Condensed', sans-serif;    font-weight: 400;    color: #383c47;}
	.btn-draw {
    padding: 2px 5px !important;
    margin: 26px 0 0 0 !important;
    width: 25%;
    z-index: 5;
    font-size: 16px !important;
    transition: background-color .25s linear;
    color: #383c47;
}

	.footer-div-tc  { padding:10px 20px;}
	
	.header-div .top-form-div { width:100%; text-align:left;}
	.header-div .lang-dropdown 	{text-align: right;    width: 100%;    display: block;    margin: 0;    position: absolute;    top: -50px;    right: 20px;}
	.header-div .lang-dropdown .txt { display:none;}
	
@media only screen and (min-width: 320px) and (max-width: 480px) {

	

}
@media only screen and (min-width: 480px) and (max-width: 640px) {

}
/*
@media only screen and (min-width: 640px){
	.header-section .logodiv img { max-width:28%; }
}*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}
	

	
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (width: 980px){

}
@media only screen and (width: 1024px){
.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}
	
	
}