table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting {
    background-image: none !important;
}

.pac-container {
    z-index: 10000 !important;
}
.btnbtmspc {
    padding: 0 0 20px 0;
}